@media only screen and (max-height: 720px) {

    body { font-size: 12px; }

    .container { width: 683px; }

    .anonymous { padding:5px; top: 10px; right: 10px; }
    .user-logged-in { padding:5px; top: 10px; right: 10px; }

    .loginbnet { padding-left: 5px; }
    .ttip { width: 191px; height: 263px; background-size: 191px 263px; }

    .title-container { margin: 13px 0 10px 0; }
    .content { width: 533px; margin: auto; }
    .hearthgames-title { font-size: 53px; text-shadow: 2px 2px 4px #000; }

    .footer { margin: 13px 0 23px 0; }
    .beta { width: 67px; height: 72px; background-size: 67px 72px; }
}

@media only screen and (min-height: 721px) {

    body { font-size: 14px; }

    .container { width: 1024px; }

    .anonymous { padding: 5px; top: 10px; right: 10px; }
    .user-logged-in { padding: 5px; top: 10px; right: 10px; }

    .loginbnet { padding-left: 5px; }
    .ttip { width: 286px; height: 395px; }

    .title-container { margin: 20px 0 15px 0; }
    .content { width: 800px; margin: auto; }
    .hearthgames-title { font-size: 80px; text-shadow: 2px 2px 4px #000; }

    .footer { margin: 20px 0 30px 0; }
    .beta { width: 100px; height: 115px; background-size: 100px 115px; }
}


@font-face { font-family: siteFont; src: url(../fonts/siteFont.woff); }
@font-face { font-family: belwe; src: url(../fonts/belwe.woff); }

body { font-family: siteFont, serif; color: #D5D4D4; background-color: #2D2D2D; opacity: .97; }
body input { color: #000; }
.panel { border-color: #000; background-color: #2D2D2D; }
.panel-heading { color: #fff; }
.home-menu { position:relative; width: 360px; height: 260px; background-image: url(http://images.hearthgames.com/misc/menu.png); margin: auto; font-size: 16px;  }
.home-menu > div { width: 360px; text-align: center; cursor: pointer; }
.home-menu a:link, .home-menu a:visited, .home-menu a:hover, .home-menu a:active { color: #513C1F; font-weight: bold; }
.upload-log-file { position: absolute; top: 26px; left: 0;  }
.ranked-games { position: absolute; top: 84px; left: 0;  }
.casual-games { position: absolute; top: 144px; left: 0;  }
.download-uploader { position: absolute; top: 206px; left: 0; }
.footer { width: 100%; text-align: center; }
.footer > span { margin: 0 5px; }
.account-form input { color: #000; }
.account-updated { color: #0FAF03; }

.beta { position: absolute; top: 52px; left: 0; background-image: url(http://images.hearthgames.com/misc/beta.png) }

.faq-question { font-weight: bold; margin-bottom: 5px; }
.faq-answer { margin-bottom: 25px; }
.submit-question { margin-top: 25px; }

.container { padding: 0; }

.game-account-id { font-size: 24px; font-weight: bold; color: #00FF00; }

.anonymous { position: absolute; text-align: center; background-color: #2D2D2D; border: 1px solid #000; opacity: 0.90; }
.user-logged-in { position: absolute; text-align: center; background-color: #2D2D2D; border: 1px solid #000; opacity: 0.90; }

.loginbnet { color: #fff; }
.hearthgames-title { text-align: center; }
.hearthgames-title a:link { text-decoration: none; color: #D5D4D4; }
.hearthgames-title a:visited { text-decoration: none; color: #D5D4D4; }
.hearthgames-title a:hover { text-decoration: none; color: #D5D4D4; }
.hearthgames-title a:active { text-decoration: none; color: #D5D4D4; }

.game-mode a:link, .game-mode a:visited, .game-mode a:hover, .game-mode a:active { color: #fff; font-weight: bold; outline: 0; }
.home-upload-panel { margin-top: 20px; }
.game-modes { text-align: center; }
.game-mode { width: 200px; height: 150px; display: inline-block; margin: 0 20px; cursor: pointer; }
.game-mode-header { width: 200px; height: 100px; }
.game-mode-content { width: 200px; height: 50px; }
.game-mode .game-mode-content { font-size: 20px; font-weight: bold; }
.casual-mode .game-mode-header { background-image: url(http://images.hearthgames.com/misc/casual.png); width: 200px; height: 100px; }
.ranked-mode .game-mode-header { background-image: url(http://images.hearthgames.com/misc/ranked.png); width: 200px; height: 100px; }
.arena-mode .game-mode-header { background-image: url(http://images.hearthgames.com/misc/arena.png); width: 200px; height: 100px; }
.adventure-mode .game-mode-header { background-image: url(http://images.hearthgames.com/misc/adventure.png); width: 200px; height: 100px; }
.tavern-brawl-mode .game-mode-header { background-image: url(http://images.hearthgames.com/misc/tavern-brawl.png); width: 200px; height: 100px; }

.druid { color: #FF7D0A; }
.druid-bg { background-color: #FF7D0A; }

.hunter { color: #ABD473; }
.hunter-bg { background-color: #ABD473; }

.mage { color: #69CCF0; }
.mage-bg { background-color: #69CCF0; }

.paladin { color: #F58CBA; }
.paladin-bg { background-color: #F58CBA; }

.priest { color: #FFFFFF; }
.priest-bg { background-color: #FFFFFF; }

.rogue { color: #FFF569; }
.rogue-bg { background-color: #FFF569; }

.shaman { color: #0070DE; }
.shaman-bg { background-color: #0070DE; }

.warlock { color: #9482C9; }
.warlock-bg { background-color: #9482C9; }

.warrior { color: #C79C6E; }
.warrior-bg { background-color: #C79C6E; }

.unknown { color: #c1c1c1; }
.unknown-bg { background-color: #c1c1c1; }


table { color: #fff; border-color: #000; background-color: #2D2D2D; }

.free { color: #D5D4D4; }
.common { color: #0FAF03; }
.rare { color: #198EFF; }
.epic { color: #AB48EE; }
.legendary { color: #F07000; }

.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-left > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}