@font-face { font-family: siteFont; src: url(../fonts/siteFont.woff); }

body { font-family: siteFont, serif; color: #D5D4D4; background-color: #2D2D2D; opacity: .97; }

.anonymous { height: 30px; width: 180px; position: absolute; padding:5px; text-align: center; top: 10px; right: 10px; background-color: #2D2D2D; border: 1px solid #000; opacity: 0.90; }
.user-logged-in { height: 50px; width: 180px; position: absolute; padding:5px; text-align: center; top: 10px; right: 10px; background-color: #2D2D2D; border: 1px solid #000; opacity: 0.90; }
.user-logged-in-on-game { height: 70px; width: 180px; position: absolute; padding:5px; text-align: center; top: 10px; right: 10px; background-color: #2D2D2D; border: 1px solid #000; opacity: 0.90; }

.hearthgames-title { font-size: 80px; text-align: center; text-shadow: 2px 2px 4px #000; }
.hearthgames-title span { font-size: 17px; color: #5d5d5d; text-shadow: 2px 2px 4px #000; }

.druid { color: #FF7D0A; }
.druid-bg { background-color: #FF7D0A; }

.hunter { color: #ABD473; }
.hunter-bg { background-color: #ABD473; }

.mage { color: #69CCF0; }
.mage-bg { background-color: #69CCF0; }

.paladin { color: #F58CBA; }
.paladin-bg { background-color: #F58CBA; }

.priest { color: #FFFFFF; }
.priest-bg { background-color: #FFFFFF; }

.rogue { color: #FFF569; }
.rogue-bg { background-color: #FFF569; }

.shaman { color: #0070DE; }
.shaman-bg { background-color: #0070DE; }

.warlock { color: #9482C9; }
.warlock-bg { background-color: #9482C9; }

.warrior { color: #C79C6E; }
.warrior-bg { background-color: #C79C6E; }

table { color: #fff; border-color: #000; background-color: #2D2D2D; }
