@media only screen and (max-height: 720px) {

    body { font-size: 12px; }

    .container { width: 683px; }

    .anonymous { padding:5px; top: 10px; right: 10px; }
    .user-logged-in { padding:5px; top: 10px; right: 10px; }
    .user-logged-in-on-game { padding:5px; top: 10px; right: 10px; }

    .loginbnet { padding-left: 5px; }
    .ttip { width: 191px; height: 263px; background-size: 191px 263px; }

    .title-container { margin: 53px 0 10px 0; }
    .content { width: 533px; margin: auto; }
    .hearthgames-title { font-size: 53px; text-shadow: 2px 2px 4px #000; }

    .footer { margin: 13px 0 23px 0; }
}

@media only screen and (min-height: 721px) {

    body { font-size: 14px; }

    .container { width: 1024px; }

    .anonymous { padding: 10px; top: 10px; right: 10px; }
    .user-logged-in { padding: 10px; top: 10px; right: 10px; }
    .user-logged-in-on-game { padding: 10px; top: 10px; right: 10px; }

    .loginbnet { padding-left: 5px; }
    .ttip { width: 286px; height: 395px; }

    .title-container { margin: 80px 0 15px 0; }
    .content { width: 800px; margin: auto; }
    .hearthgames-title { font-size: 80px; text-shadow: 2px 2px 4px #000; }

    .footer { margin: 20px 0 30px 0; }
}


@font-face { font-family: siteFont; src: url(../fonts/siteFont.woff); }

body { font-family: siteFont, serif; color: #D5D4D4; background-color: #2D2D2D; opacity: .97; }
body input { color: #000; }
.panel { border-color: #000; background-color: #2D2D2D; }
.panel-heading { color: #fff; }
.home-menu { position:relative; width: 360px; height: 260px; background-image: url(http://images.hearthgames.com/misc/menu.png); margin: auto; font-size: 16px;  }
.home-menu > div { width: 360px; text-align: center; cursor: pointer; }
.home-menu a:link, .home-menu a:visited, .home-menu a:hover, .home-menu a:active { color: #513C1F; font-weight: bold; }
.upload-log-file { position: absolute; top: 26px; left: 0;  }
.ranked-games { position: absolute; top: 84px; left: 0;  }
.casual-games { position: absolute; top: 144px; left: 0;  }
.download-uploader { position: absolute; top: 206px; left: 0; }
.footer { width: 100%; text-align: center; }
.footer > span { margin: 0 5px; }
.account-form input { color: #000; }
.account-updated { color: #0FAF03; }

.beta { position: fixed; top: 0; left: 0; width: 100px; height: 115px; background-image: url(http://images.hearthgames.com/misc/beta.png) }

.faq-question { font-weight: bold; margin-bottom: 5px; }
.faq-answer { margin-bottom: 25px; }
.submit-question { margin-top: 25px; }

.container { padding: 0; }

.anonymous { position: absolute; text-align: center; background-color: #2D2D2D; border: 1px solid #000; opacity: 0.90; }
.user-logged-in { position: absolute; text-align: center; background-color: #2D2D2D; border: 1px solid #000; opacity: 0.90; }
.user-logged-in-on-game { position: absolute; text-align: center; background-color: #2D2D2D; border: 1px solid #000; opacity: 0.90; }

.loginbnet { color: #fff; }
.hearthgames-title { text-align: center; }
.hearthgames-title a:link { text-decoration: none; color: #D5D4D4; }
.hearthgames-title a:visited { text-decoration: none; color: #D5D4D4; }
.hearthgames-title a:hover { text-decoration: none; color: #D5D4D4; }
.hearthgames-title a:active { text-decoration: none; color: #D5D4D4; }

.druid { color: #FF7D0A; }
.druid-bg { background-color: #FF7D0A; }

.hunter { color: #ABD473; }
.hunter-bg { background-color: #ABD473; }

.mage { color: #69CCF0; }
.mage-bg { background-color: #69CCF0; }

.paladin { color: #F58CBA; }
.paladin-bg { background-color: #F58CBA; }

.priest { color: #FFFFFF; }
.priest-bg { background-color: #FFFFFF; }

.rogue { color: #FFF569; }
.rogue-bg { background-color: #FFF569; }

.shaman { color: #0070DE; }
.shaman-bg { background-color: #0070DE; }

.warlock { color: #9482C9; }
.warlock-bg { background-color: #9482C9; }

.warrior { color: #C79C6E; }
.warrior-bg { background-color: #C79C6E; }

table { color: #fff; border-color: #000; background-color: #2D2D2D; }

.free { color: #D5D4D4; }
.common { color: #0FAF03; }
.rare { color: #198EFF; }
.epic { color: #AB48EE; }
.legendary { color: #F07000; }