.bs-callout { border: 1px solid #1B809E; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }

@media only screen and (max-height: 720px) {

    .bs-callout { padding: 13px; margin: 13px 0; border-left-width: 3px; border-radius: 2px; }

}

@media only screen and (min-height: 721px) {

    .bs-callout { padding: 20px; margin: 20px 0; border-left-width: 5px; border-radius: 3px; }

}

.bs-callout-info { border-left-color: #449D44; }
.bs-callout-info h4 { color: #449D44; }

.hearthgames-where > h4 { color: #fff; }
.hearthgames-where li { margin-top: 5px; }

.bs-callout-where h4 { color: #1B809E; }
.bs-callout-where { border-color: #1B809E; }
.bs-callout-where > div { font-size: 18px; }
.bs-callout-warning h4 { color: #C9302C; }
.bs-callout-warning { border-color: #C9302C; }

