<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthLogs.com - Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script type="text/javascript" src="http://static-hearth.cursecdn.com/current/js/syndication/tt.js"></script>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="container">

    <div th:replace="/fragments/beta-fragment::beta"></div>

    <div class="hearthlogs-title">HEARTHLOGS.com<span> A Hearthstone Log Analyzer</span></div>

    <hr/>

    <h1>Oops...some kind of error happened...how embarassing!  This is a BETA after all :)  I've logged the error and will try and get this fixed ASAP.</h1>

    <h1>Thank you for your support!</h1>

    <h1>If you haven't signed up you can sign up <a th:href="@{/beta}" href="beta.html">here</a></h1>
</div>

</body>
</html>