<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthLogs.com - Game Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script type="text/javascript" src="http://static-hearth.cursecdn.com/current/js/syndication/tt.js"></script>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/game.css" th:href="@{/css/game.css}" rel="stylesheet" media="screen"/>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#card-info").click(function(e){
                e.preventDefault();
            });
        });
    </script>
</head>
<body>

<div class="container">

    <div th:replace="/fragments/beta-fragment::beta"></div>

    <div th:replace="/fragments/login-fragment::userLoggedInOnGame"></div>

    <div class="hearthlogs-title">HEARTHLOGS.com<span> A Hearthstone Log Analyzer</span></div>

    <hr/>
    <div class="versus-info">
        <span th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}" th:text="${versusInfo.friendlyName}">Seekay</span>
        <img src="http://images.hearthlogs.com/HERO_01_large.png" th:src="@{'http://images.hearthlogs.com/'+${versusInfo.friendlyHeroCardId}+'_large.png'}" />
        <span style="font-size: 25px; font-weight: bold;">VS</span>
        <img src="http://images.hearthlogs.com/HERO_05_large.png" th:src="@{'http://images.hearthlogs.com/'+${versusInfo.opposingHeroCardId}+'_large.png'}" />
        <span th:class="${#strings.toLowerCase(versusInfo.opposingClass)}" th:text="${versusInfo.opposingName}">Opponent</span>
    </div>
    <div class="versus-info">
        <span th:if="${versusInfo.friendlyName == versusInfo.winner}"> <span th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}" th:text="${versusInfo.friendlyName}">Seekay</span> has Won! </span>
        <span th:if="${versusInfo.opposingName == versusInfo.winner}"> <span th:class="${#strings.toLowerCase(versusInfo.opposingClass)}" th:text="${versusInfo.opposingName}">Opponent</span> has Won :( </span>
    </div>
    <div class="versus-info">
        <span th:if="${versusInfo.quitter != null}"> <span th:class="${#strings.toLowerCase(versusInfo.quitterClass)}" th:text="${versusInfo.quitter}">Seekay</span> has Quit! </span>
    </div>
    <div class="versus-info-duration">
        <span>Duration: <span th:text="${versusInfo.duration}"></span></span>
    </div>

    <h4 class="info-heading">Card Summary</h4>
    <div th:include="/fragments/table-fragment::tablefrag (${cardInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'card-info','','',5)"></div>

    <h4 class="info-heading">Health/Armor Summary</h4>
    <div th:include="/fragments/table-fragment::tablefrag (${healthArmorInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'health-info','turn','health-armor',3)"></div>

    <h4 class="info-heading">Mana Summary</h4>
    <div th:include="/fragments/table-fragment::tablefrag (${manaInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'mana-info','','',2)"></div>

    <h4 class="info-heading">Trade Summary</h4>
    <div th:include="/fragments/table-fragment::tablefrag (${tradeInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'trade-info','','',6)"></div>

    <h4 class="info-heading">Card Advantage</h4>
    <div th:include="/fragments/table-fragment::tablefrag (${cardAdvantageInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'card-advantage-info','turn','cadvantage-info',1)"></div>


    <h4 class="info-heading">Board Control</h4>
    <div th:include="/fragments/table-fragment::tablefrag (${boardControlInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'board-control-info','turn','-bg bcontrol-info',4)"></div>


    <h4 class="info-heading">Turn By Turn Play</h4>

    <div th:each="turnInfo,iterStat : ${turnInfos}">
        <h5>Turn <span th:text="${turnInfo.turnNumber}">1</span> - <span th:text="${turnInfo.whoseTurn}" th:class="${#strings.toLowerCase(turnInfo.turnClass)}">Seekay</span></h5>
        <table class="table table-bordered">
            <tbody>
            <tr th:each="row: ${turnInfo.rows}">

                <td th:if="${row.type == 1}" th:with="action=${row.columns[0].action}" th:colspan="5">

                    <!--/*ArmorChange*/-->
                    <div th:if="${action.type == 1}">
                        <span th:if="${action.side == 'FRIENDLY'}" th:text="${versusInfo.friendlyName}" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}"></span>
                        <span th:if="${action.side == 'OPPOSING'}" th:text="${versusInfo.opposingName}" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}"></span>
                        <a th:if="${action.card.cardDetails != null}" th:href="@{'http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}">
                            <img src="" th:src="@{'http://images.hearthlogs.com/'+${action.card.cardDetails.cardLink.cardId}+'.png'}" />
                        </a>
                        Armor is now
                        <div style="display: inline-block; color: #fff;" class="armor-bg">
                            <div th:text="${action.armor}"></div>
                        </div>
                    </div>

                    <!--/*AttackChange*/-->
                    <div th:if="${action.type == 3}">
                        <span th:if="${action.side == 'FRIENDLY'}" th:text="${versusInfo.friendlyName}" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}"></span>
                        <span th:if="${action.side == 'OPPOSING'}" th:text="${versusInfo.opposingName}" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}"></span>
                        <a th:if="${action.card.cardDetails != null}" th:href="@{'http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}">
                            <img src="" th:src="@{'http://images.hearthlogs.com/'+${action.card.cardDetails.cardLink.cardId}+'.png'}" />
                        </a>
                        Attack is now
                        <span th:text="${action.newAttack}"></span>
                    </div>

                    <!--/*CardCreation*/-->
                    <div th:if="${action.type == 5}">
                        <span th:if="${action.creatorSide == 'FRIENDLY'}" th:text="${versusInfo.friendlyName}" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}"></span>
                        <span th:if="${action.creatorSide == 'OPPOSING'}" th:text="${versusInfo.opposingName}" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}"></span>
                        <a th:href="@{'http://www.hearthpwn.com'+${action.creator.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.creator.cardDetails.cardLink.href}">
                            <div class="minion-attack-health-bg" th:style="'display: inline-block; vertical-align: middle; background-image: url(http://images.hearthlogs.com/'+${action.creator.cardDetails.cardLink.cardId}+'.png)'" >
                                <div th:if="${action.creator.isMinion()}" class="minion-attack-bg"><div th:text="${action.creator.atk}"></div></div>
                                <div th:if="${action.creator.isMinion()}" class="minion-health-bg"><div th:text="${action.creator.health}"></div></div>
                            </div>
                        </a>
                        has created
                        <span th:if="${action.createdSide == 'FRIENDLY'}" th:text="${versusInfo.friendlyName}" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}"></span>
                        <span th:if="${action.createdSide == 'OPPOSING'}" th:text="${versusInfo.opposingName}" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}"></span>
                        <a th:if="${action.created.cardDetails != null}" th:href="@{'http://www.hearthpwn.com'+${action.created.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.created.cardDetails.cardLink.href}">
                            <div class="minion-attack-health-bg" th:style="'display: inline-block; vertical-align: middle; background-image: url(http://images.hearthlogs.com/'+${action.created.cardDetails.cardLink.cardId}+'.png)'" >
                                <div th:if="${action.created.isMinion()}" class="minion-attack-bg"><div th:text="${action.created.atk}"></div></div>
                                <div th:if="${action.created.isMinion()}" class="minion-health-bg"><div th:text="${action.created.health}"></div></div>
                            </div>
                        </a>
                        <a th:if="${action.created.cardDetails == null}">
                            <img src="http://images.hearthlogs.com/cardback.png" />
                        </a>
                        for <span th:class="${#strings.toLowerCase(action.beneficiary.playerClass)}" th:text="${action.beneficiary.name}"></span>
                    </div>

                    <!--/*CardDrawn*/-->
                    <div th:if="${action.type == 6}">
                        <span th:text="${turnInfo.whoseTurn}" th:class="${#strings.toLowerCase(turnInfo.turnClass)}">Seekay</span> has drawn
                        <a th:if="${action.card.cardDetails != null}" th:href="@{'http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}">
                            <img src="" th:src="@{'http://images.hearthlogs.com/'+${action.card.cardDetails.cardLink.cardId}+'.png'}" />
                        </a>
                        <a th:if="${action.card.cardDetails == null}">
                            <img src="http://images.hearthlogs.com/cardback.png" />
                        </a>
                    </div>

                    <!--/*CardPlayed*/-->
                    <div th:if="${action.type == 7}">
                        <span th:text="${turnInfo.whoseTurn}" th:class="${#strings.toLowerCase(turnInfo.turnClass)}">Seekay</span>
                        <span th:if="${action.card.isMinion()}"> has played </span>
                        <span th:if="${action.card.isSpell()}"> has cast </span>
                        <span th:if="${action.card.isWeapon()}"> has equipped </span>
                        <a th:if="${action.card.cardDetails != null}" th:href="@{'http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}">
                            <img src="" th:src="@{'http://images.hearthlogs.com/'+${action.card.cardDetails.cardLink.cardId}+'.png'}" />
                        </a>
                    </div>

                    <!--/*Damage*/-->
                    <div th:if="${action.type == 8 and !action.damaged.isWeapon()}">
                        <span th:if="${action.damagerSide == 'FRIENDLY'}" th:text="${versusInfo.friendlyName}" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}"></span>
                        <span th:if="${action.damagerSide == 'OPPOSING'}" th:text="${versusInfo.opposingName}" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}"></span>
                        <a th:href="@{'http://www.hearthpwn.com'+${action.damager.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.damager.cardDetails.cardLink.href}">
                            <div class="minion-attack-health-bg" th:style="'display: inline-block; vertical-align: middle; background-image: url(http://images.hearthlogs.com/'+${action.damager.cardDetails.cardLink.cardId}+'.png)'" >
                                <div th:if="${action.damager.isMinion()}" class="minion-attack-bg"><div th:text="${action.damager.atk}"></div></div>
                                <div th:if="${action.damager.isMinion()}" class="minion-health-bg"><div th:text="${action.damager.health}"></div></div>
                            </div>
                        </a>
                        has done <span th:text="${action.amount}"></span> damage to
                        <span th:if="${action.damagedSide == 'FRIENDLY'}" th:text="${versusInfo.friendlyName}" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}"></span>
                        <span th:if="${action.damagedSide == 'OPPOSING'}" th:text="${versusInfo.opposingName}" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}"></span>
                        <a th:href="@{'http://www.hearthpwn.com'+${action.damaged.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.damaged.cardDetails.cardLink.href}">
                            <div class="minion-attack-health-bg" th:style="'display: inline-block; vertical-align: middle; background-image: url(http://images.hearthlogs.com/'+${action.damaged.cardDetails.cardLink.cardId}+'.png)'" >
                                <div th:if="${action.damaged.isMinion()}" class="minion-attack-bg"><div th:text="${action.damaged.atk}"></div></div>
                                <div th:if="${action.damaged.isMinion()}" class="minion-health-bg"><div th:text="${action.damaged.health}"></div></div>
                            </div>
                        </a>
                    </div>
                    <div th:if="${action.type == 8 and action.damaged.isWeapon()}">
                        <span th:if="${action.damagedSide == 'FRIENDLY'}" th:text="${versusInfo.friendlyName}" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}"></span>
                        <span th:if="${action.damagedSide == 'OPPOSING'}" th:text="${versusInfo.opposingName}" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}"></span>
                        <a th:href="@{'http://www.hearthpwn.com'+${action.damaged.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.damaged.cardDetails.cardLink.href}">
                            <div class="minion-attack-health-bg" th:style="'display: inline-block; vertical-align: middle; background-image: url(http://images.hearthlogs.com/'+${action.damaged.cardDetails.cardLink.cardId}+'.png)'" >
                                <div th:if="${action.damaged.isMinion()}" class="minion-attack-bg"><div th:text="${action.damaged.atk}"></div></div>
                                <div th:if="${action.damaged.isMinion()}" class="minion-health-bg"><div th:text="${action.damaged.health}"></div></div>
                            </div>
                        </a>
                        has lost <span th:text="${action.amount}"></span> durability
                    </div>


                    <!--/*Frozen*/-->
                    <div th:if="${action.type == 11}">
                        <span th:if="${action.side == 'FRIENDLY'}" th:text="${versusInfo.friendlyName}" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}"></span>
                        <span th:if="${action.side == 'OPPOSING'}" th:text="${versusInfo.opposingName}" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}"></span>
                        <a th:if="${action.card.cardDetails != null}" th:href="@{'http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}">
                            <img src="" th:src="@{'http://images.hearthlogs.com/'+${action.card.cardDetails.cardLink.cardId}+'.png'}" />
                        </a>
                        is now
                        <span th:if="${action.frozen}"> Frozen</span>
                        <span th:if="${!action.frozen}"> Un-frozen</span>
                    </div>

                    <!--/*HealthChange*/-->
                    <div th:if="${action.type == 12}">
                        <span th:if="${action.side == 'FRIENDLY'}" th:text="${versusInfo.friendlyName}" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}"></span>
                        <span th:if="${action.side == 'OPPOSING'}" th:text="${versusInfo.opposingName}" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}"></span>
                        <a th:if="${action.card.cardDetails != null}" th:href="@{'http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}">
                            <img src="" th:src="@{'http://images.hearthlogs.com/'+${action.card.cardDetails.cardLink.cardId}+'.png'}" />
                        </a>
                        Health is now
                        <span th:text="${action.newHealth}"></span>
                    </div>

                    <!--/*HeroHealthChange*/-->
                    <div th:if="${action.type == 13}">
                        <span th:if="${action.side == 'FRIENDLY'}" th:text="${versusInfo.friendlyName}" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}"></span>
                        <span th:if="${action.side == 'OPPOSING'}" th:text="${versusInfo.opposingName}" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}"></span>
                        <a th:if="${action.card.cardDetails != null}" th:href="@{'http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}">
                            <img src="" th:src="@{'http://images.hearthlogs.com/'+${action.card.cardDetails.cardLink.cardId}+'.png'}" />
                        </a>
                        Health is now
                        <div style="display: inline-block; color: #fff;" class="health-bg">
                            <div th:text="${action.health}"></div>
                        </div>
                    </div>

                    <!--/*HeroPowerUsed*/-->
                    <div th:if="${action.type == 14}">
                        <span th:text="${action.player.name}" th:class="${#strings.toLowerCase(action.player.playerClass)}">Seekay</span> has activated hero power
                        <a th:if="${action.card.cardDetails != null}" th:href="@{'http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}">
                            <img src="" th:src="@{'http://images.hearthlogs.com/'+${action.card.cardDetails.cardLink.cardId}+'.png'}" />
                        </a>
                    </div>

                    <!--/*Joust*/-->
                    <div th:if="${action.type == 15}">
                        TODO Joust
                    </div>

                    <!--/*Kill*/-->
                    <div th:if="${action.type == 16}">
                        <span th:if="${action.killerSide == 'FRIENDLY'}" th:text="${versusInfo.friendlyName}" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}"></span>
                        <span th:if="${action.killerSide == 'OPPOSING'}" th:text="${versusInfo.opposingName}" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}"></span>
                        <a th:href="@{'http://www.hearthpwn.com'+${action.killer.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.killer.cardDetails.cardLink.href}">
                            <div class="minion-attack-health-bg" th:style="'display: inline-block; vertical-align: middle; background-image: url(http://images.hearthlogs.com/'+${action.killer.cardDetails.cardLink.cardId}+'.png)'" >
                                <div th:if="${action.killer.isMinion()}" class="minion-attack-bg"><div th:text="${action.killer.atk}"></div></div>
                                <div th:if="${action.killer.isMinion()}" class="minion-health-bg"><div th:text="${action.killer.health}"></div></div>
                            </div>
                        </a>
                        has <span th:text="${action.kind}"></span>
                        <span th:if="${action.killedSide == 'FRIENDLY'}" th:text="${versusInfo.friendlyName}" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}"></span>
                        <span th:if="${action.killedSide == 'OPPOSING'}" th:text="${versusInfo.opposingName}" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}"></span>
                        <a th:href="@{'http://www.hearthpwn.com'+${action.killed.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.killed.cardDetails.cardLink.href}">
                            <div class="minion-attack-health-bg" th:style="'display: inline-block; vertical-align: middle; background-image: url(http://images.hearthlogs.com/'+${action.killed.cardDetails.cardLink.cardId}+'.png)'" >
                                <div th:if="${action.killed.isMinion()}" class="minion-attack-bg"><div th:text="${action.killed.atk}"></div></div>
                                <div th:if="${action.killed.isMinion()}" class="minion-health-bg"><div th:text="${action.killed.health}"></div></div>
                            </div>
                        </a>
                    </div>

                    <!--/*ManaGained*/-->
                    <div th:if="${action.type == 17}">
                        <span th:text="${turnInfo.whoseTurn}" th:class="${#strings.toLowerCase(turnInfo.turnClass)}">Seekay</span> has gained <span th:text="${action.manaGained}">5</span> mana
                    </div>

                    <!--/*ManaUsed*/-->
                    <div th:if="${action.type == 20}">
                        <span th:text="${turnInfo.whoseTurn}" th:class="${#strings.toLowerCase(turnInfo.turnClass)}">Seekay</span> has used <span th:text="${action.manaUsed}">5</span> mana
                    </div>

                    <!--/*TempManaGained*/-->
                    <div th:if="${action.type == 22}">
                        <span th:text="${turnInfo.whoseTurn}" th:class="${#strings.toLowerCase(turnInfo.turnClass)}">Seekay</span> has temporarily gained <span th:text="${action.tempManaGained}">5</span> mana
                    </div>

                    <!--/*Trigger*/*/-->
                    <div th:if="${action.type == 23}">
                        <span th:text="${turnInfo.whoseTurn}" th:class="${#strings.toLowerCase(turnInfo.turnClass)}">Seekay</span>
                        <span th:text="${action.card.name}"></span>
                        triggered its ability
                        <span th:utext="${action.card.text}"></span>
                    </div>

                    <!--/*CardDiscarded*/-->
                    <div th:if="${action.type == 25}">
                        <span th:if="${action.causeSide == 'FRIENDLY'}" th:text="${versusInfo.friendlyName}" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}"></span>
                        <span th:if="${action.causeSide == 'OPPOSING'}" th:text="${versusInfo.opposingName}" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}"></span>
                        <a th:href="@{'http://www.hearthpwn.com'+${action.cause.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.cause.cardDetails.cardLink.href}">
                            <img src="" th:src="@{'http://images.hearthlogs.com/'+${action.cause.cardDetails.cardLink.cardId}+'.png'}" />
                        </a>
                        has caused
                        <span th:text="${action.player.name}" th:class="${#strings.toLowerCase(action.player.playerClass)}">Seekay</span>
                        to discard
                        <span th:if="${action.cardSide == 'FRIENDLY'}" th:text="${versusInfo.friendlyName}" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}"></span>
                        <span th:if="${action.cardSide == 'OPPOSING'}" th:text="${versusInfo.opposingName}" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}"></span>
                        <a th:if="${action.card.cardDetails != null}" th:href="@{'http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${action.card.cardDetails.cardLink.href}">
                            <img src="" th:src="@{'http://images.hearthlogs.com/'+${action.card.cardDetails.cardLink.cardId}+'.png'}" />
                        </a>
                    </div>

                </td>

                <td th:if="${row.type != 1}" th:each="column,iterStat: ${row.columns}" th:class="'turn-info-board'+${iterStat.count}">

                    <span th:if="${row.type == 2 and column.data != null}" th:text="${column.data}"></span>

                    <span th:if="${row.type == 3 and column.data != null}" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}" th:text="${column.data}"></span>
                    <span th:if="${row.type == 4 and column.data != null}" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}" th:text="${column.data}"></span>

                    <a th:if="${row.type gt 2 and column.cards != null and iterStat.count != 5 and card.card.cardDetails != null}" th:each="card: ${column.cards}" th:href="@{'http://www.hearthpwn.com'+${card.card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                    <a th:if="${row.type gt 2 and column.cards != null and iterStat.count != 5 and card.card.cardDetails == null}" th:each="card: ${column.cards}">
                        <img src="http://images.hearthlogs.com/cardback.png" />
                    </a>

                    <a th:if="${row.type gt 2 and column.cards != null and iterStat.count == 5 and card.card.cardDetails != null}" th:each="card: ${column.cards}" th:href="@{'http://www.hearthpwn.com'+${card.card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.card.cardDetails.cardLink.href}">
                        <div class="minion-attack-health-bg" th:style="'background-image: url(http://images.hearthlogs.com/'+${card.card.cardDetails.cardLink.cardId}+'.png)'" >
                            <div class="minion-attack-bg"><div th:text="${card.realAttack}"></div></div>
                            <div class="minion-health-bg"><div th:text="${card.realHealth}"></div></div>
                        </div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>




</div>

</body>
</html>
