<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthGames.com - Game Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/game.css" th:href="@{/css/game.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container">

    <div th:replace="/fragments/login-fragment::userLoggedInOnGames"></div>

    <div class="hearthlogs-title">HEARTHGAMES.com</div>

    <hr/>

    <h1>Games Played</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Friendly</th>
            <th>Opponent</th>
            <th>Winner</th>
            <th>Duration</th>
            <th># Turns</th>
            <th>Challenge</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game: ${gamesPlayed}">
            <td><a th:href="@{'/game/'+${game.id}}" href="game.html">View</a></td>
            <td><span th:class="${#strings.toLowerCase(game.friendlyClass)}" th:text="${game.friendlyName}">Seekay</span></td>
            <td><span th:class="${#strings.toLowerCase(game.opposingClass)}" th:text="${game.opposingName}">Some Opponent</span></td>
            <td><span th:class="${#strings.toLowerCase(game.winnerClass)}" th:text="${game.winner}">Seekay</span></td>
            <td><span th:text="${game.duration}"></span></td>
            <td><span th:text="${game.turns}">23</span></td>
            <td><span th:if="${game.justAdded}">New</span></td>
        </tr>
        </tbody>
    </table>

</div>


</body>
</html>