<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthLogs.com - Upload a Hearhtstone Log File</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script type="text/javascript" src="http://static-hearth.cursecdn.com/current/js/syndication/tt.js"></script>

    <link href="../static/css/main.css" th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/game.css" th:href="@{css/game.css}" rel="stylesheet" media="screen"/>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#card-info").click(function(e){
                e.preventDefault();
            });
        });
    </script>
</head>
<body>

<div class="container">

    <div class="hearthlogs-title">HEARTHLOGS.com<span> A Hearthstone Log Analyzer</span></div>

    <hr/>
    <div class="versus-info">
        <span th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}" th:text="${versusInfo.friendlyName}">Seekay</span>
        <img src="http://images.hearthlogs.com/HERO_01.png" th:src="@{'http://images.hearthlogs.com/'+${versusInfo.friendlyHeroCardId}+'.png'}" />
        <span style="font-size: 25px; font-weight: bold;">VS</span>
        <img src="http://images.hearthlogs.com/HERO_05.png" th:src="@{'http://images.hearthlogs.com/'+${versusInfo.opposingHeroCardId}+'.png'}" />
        <span th:class="${#strings.toLowerCase(versusInfo.opposingClass)}" th:text="${versusInfo.opposingName}">Opponent</span>
    </div>
    <div class="versus-info">
        <span th:if="${versusInfo.friendlyName == versusInfo.winner}"> <span th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}" th:text="${versusInfo.friendlyName}">Seekay</span> has Won! </span>
        <span th:if="${versusInfo.opposingName == versusInfo.winner}"> <span th:class="${#strings.toLowerCase(versusInfo.opposingClass)}" th:text="${versusInfo.opposingName}">Opponent</span> has Won :( </span>
    </div>
    <div class="versus-info-duration">
        <span>Duration: <span th:text="${versusInfo.duration}"></span></span>
    </div>

    <h4 class="info-heading">Card Summary</h4>
    <div th:include="::tablefrag (${cardInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'card-info','','',5)"></div>

    <h4 class="info-heading">Health/Armor Summary</h4>
    <div th:include="::tablefrag (${healthArmorInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'health-info','turn','health-armor',3)"></div>

    <h4 class="info-heading">Mana Summary</h4>
    <div th:include="::tablefrag (${manaInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'mana-info','','',2)"></div>


    <h4 class="info-heading">Card Advantage</h4>
    <div th:include="::tablefrag (${cardAdvantageInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'card-advantage-info','turn','cadvantage-info',1)"></div>


    <h4 class="info-heading">Board Control</h4>
    <div th:include="::tablefrag (${boardControlInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'board-control-info','turn','-bg bcontrol-info',4)"></div>


    <h4 class="info-heading">Turn By Turn Summary</h4>

    <div th:each="turnInfo,iterStat : ${turnInfos}">
        <h5>Turn <span th:text="${turnInfo.turnNumber}">1</span> - <span th:text="${turnInfo.whoseTurn}" th:class="${#strings.toLowerCase(turnInfo.turnClass)}">Seekay</span></h5>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Hand</th>
                <th>Weapon</th>
                <th>Secrets</th>
                <th>Minions In Play</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}" th:text="${versusInfo.friendlyName}"></span></td>
                <td>
                    <a th:if="${card.cardDetails != null}" th:each="card : ${turnInfo.friendlyHand}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                    <a th:if="${card.cardDetails == null}" th:each="card : ${turnInfo.friendlyHand}">
                        <img src="http://images.hearthlogs.com/cardback.png" />
                    </a>
                </td>
                <td>
                    <a th:if="${card.cardDetails != null}" th:each="card : ${turnInfo.friendlyWeapon}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                    <a th:if="${card.cardDetails == null}" th:each="card : ${turnInfo.friendlyWeapon}">
                        <img src="http://images.hearthlogs.com/cardback.png" />
                    </a>
                </td>
                <td>
                    <a th:if="${card.cardDetails != null}" th:each="card : ${turnInfo.friendlySecret}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                    <a th:if="${card.cardDetails == null}" th:each="card : ${turnInfo.friendlySecret}">
                        <img src="http://images.hearthlogs.com/cardback.png" />
                    </a>
                </td>
                <td>
                    <a th:if="${card.cardDetails != null}" th:each="card : ${turnInfo.friendlyPlay}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                    <a th:if="${card.cardDetails == null}" th:each="card : ${turnInfo.friendlyPlay}">
                        <img src="http://images.hearthlogs.com/cardback.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td><span th:class="${#strings.toLowerCase(versusInfo.opposingClass)}" th:text="${versusInfo.opposingName}"></span></td>
                <td>
                    <a th:if="${card.cardDetails != null}" th:each="card : ${turnInfo.opposingHand}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                    <a th:if="${card.cardDetails == null}" th:each="card : ${turnInfo.opposingHand}">
                        <img src="http://images.hearthlogs.com/cardback.png" />
                    </a>
                </td>
                <td>
                    <a th:if="${card.cardDetails != null}" th:each="card : ${turnInfo.opposingWeapon}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                    <a th:if="${card.cardDetails == null}" th:each="card : ${turnInfo.opposingWeapon}">
                        <img src="http://images.hearthlogs.com/cardback.png" />
                    </a>
                </td>
                <td>
                    <a th:if="${card.cardDetails != null}" th:each="card : ${turnInfo.opposingSecret}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                    <a th:if="${card.cardDetails == null}" th:each="card : ${turnInfo.opposingSecret}">
                        <img src="http://images.hearthlogs.com/cardback.png" />
                    </a>
                </td>
                <td>
                    <a th:if="${card.cardDetails != null}" th:each="card : ${turnInfo.opposingPlay}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                    <a th:if="${card.cardDetails == null}" th:each="card : ${turnInfo.opposingPlay}">
                        <img src="http://images.hearthlogs.com/cardback.png" />
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



    <div th:fragment="tablefrag (collection,friendlyClass,opposingClass,tableClass,headerClass,columnDataClass,type)">
        <table th:class="${tableClass}+' table table-bordered'" th:each="object: ${collection}">
            <thead>
            <tr>
                <th th:text="${column.data}" th:each="column,iterStat : ${object.header.columns}" th:class="${iterStat.first}? '' : ${headerClass}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:class="${#strings.toLowerCase(friendlyClass)}">
                <td th:each="column,iterStat : ${object.friendly.columns}">

                    <div  th:if="${type == 1}" th:class="${iterStat.first}? '' : ${columnDataClass}" th:text="${column.data}"></div>

                    <span th:if="${type == 2}" th:text="${column.data}"></span>

                    <div  th:if="${type == 3}" th:class="${iterStat.first}? '' : ${columnDataClass}">
                        <div th:if="${column.extraData != null}" th:class="${iterStat.first}? '' : 'armor-bg'" class="armor-bg">
                            <div th:text="${column.extraData}"></div>
                        </div>
                        <div th:class="${iterStat.first}? ${#strings.toLowerCase(friendlyClass)} : 'health-bg'" class="health-bg">
                            <div th:text="${column.data}"></div>
                        </div>
                    </div>

                    <div th:if="${type == 4 and iterStat.first}" th:text="${column.data}" th:class="${#strings.toLowerCase(friendlyClass)}"></div>
                    <div th:if="${type == 4 and !iterStat.first}" th:class="${#strings.toLowerCase(column.data)}+${columnDataClass}"></div>

                    <span th:if="${type == 5 and iterStat.count == 1}" th:class="${#strings.toLowerCase(friendlyClass)}" th:text="${column.data}"></span>
                    <a    th:if="${type == 5 and iterStat.count gt 1 and card.cardDetails != null}" th:each="card : ${column.datas}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                    <a th:if="${type == 5 and iterStat.count gt 1 and iterStat.count lt 4 and card.cardDetails == null}" th:each="card : ${column.datas}">
                        <img src="http://images.hearthlogs.com/cardback.png" />
                    </a>


                </td>
            </tr>
            <tr th:class="${#strings.toLowerCase(opposingClass)}">
                <td th:each="column,iterStat : ${object.opposing.columns}">

                    <div  th:if="${type == 1}" th:class="${iterStat.first}? '' : ${columnDataClass}" th:text="${column.data}"></div>

                    <span th:if="${type == 2}" th:text="${column.data}"></span>

                    <div  th:if="${type == 3}" th:class="${iterStat.first}? '' : ${columnDataClass}">
                        <div th:if="${column.extraData != null}" th:class="${iterStat.first}? '' : 'armor-bg'" class="armor-bg">
                            <div th:text="${column.extraData}"></div>
                        </div>
                        <div th:class="${iterStat.first}? ${#strings.toLowerCase(opposingClass)} : 'health-bg'" class="health-bg">
                            <div th:text="${column.data}"></div>
                        </div>
                    </div>

                    <div th:if="${type == 4 and iterStat.first}" th:text="${column.data}" th:class="${#strings.toLowerCase(opposingClass)}"></div>
                    <div th:if="${type == 4 and !iterStat.first}" th:class="${#strings.toLowerCase(column.data)}+${columnDataClass}"></div>

                    <span th:if="${type == 5 and iterStat.count == 1}" th:class="${#strings.toLowerCase(friendlyClass)}" th:text="${column.data}"></span>
                    <a    th:if="${type == 5 and iterStat.count gt 1 and card.cardDetails != null}" th:each="card : ${column.datas}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                    <a th:if="${type == 5 and iterStat.count gt 1 and iterStat.count lt 4 and card.cardDetails == null}" th:each="card : ${column.datas}">
                        <img src="http://images.hearthlogs.com/cardback.png" />
                    </a>


                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>
