<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthLogs.com - Upload a Hearhtstone Log File</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/bootstrap.fileinput/4.2.7/css/fileinput.min.css" th:href="@{/webjars/bootstrap-fileinput/4.2.7/css/fileinput.min.css}" rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/bootstrap.fileinput/4.2.7/js/fileinput.min.js" th:src="@{/webjars/bootstrap-fileinput/4.2.7/js/fileinput.min.js}"></script>

    <link href="../static/css/main.css" th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/home.css" th:href="@{css/home.css}" rel="stylesheet" media="screen"/>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#upload").fileinput();
        });
    </script>
</head>
<body>

<div class="container">

    <div class="hearthlogs-title home-title">HEARTHLOGS.com<span> A Hearthstone Log Analyzer</span></div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">SELECT A HEARTHSTONE LOG FILE TO UPLOAD</h3>
        </div>
        <div class="panel-body">
            <form method="POST" enctype="multipart/form-data" action="match.html" th:action="@{/upload}">
                <input id="upload" name="file" type="file" class="file" data-show-preview="false"/>
            </form>
            <a href="where.html" th:href="@{/where}">Where do I find my log files?</a>
        </div>
    </div>

</div>

</body>
</html>