<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthLogs.com - Card Links</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script type="text/javascript" src="http://static-hearth.cursecdn.com/current/js/syndication/tt.js"></script>

    <link href="../static/css/main.css" th:href="@{css/main.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container">

    <div class="hearthlogs-title">HEARTHLOGS.com<span> A Hearthstone Log Analyzer</span></div>
    <div class="panel panel-primary">

        <!--<div>-->
        <!--<table class="table table-bordered">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>Name</th>-->
                <!--<th>Card ID</th>-->
                <!--<th>Link</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr th:each="cardLink : ${cardLinks}">-->
                <!--<td th:text="${cardLink.name}">Name</td>-->
                <!--<td th:text="${cardLink.cardId}">Card ID</td>-->
                <!--<td><a th:href="@{'http://www.hearthpwn.com' + ${cardLink.href}}" th:text="${cardLink.name}">Link Description</a></td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->

        { "cards" : [
        <div th:each="cardLink : ${cardLinks}" th:inline="text">
            { "cardId" : "[[${cardLink.cardId}]]" , "href": "[[${cardLink.href}]]" },
        </div>
          ]
        }

    </div>
</div>

</body>
</html>
