<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthLogs.com - Upload a Hearhtstone Log File</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script type="text/javascript" src="http://static-hearth.cursecdn.com/current/js/syndication/tt.js"></script>

    <link href="../static/css/main.css" th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/match.css" th:href="@{css/match.css}" rel="stylesheet" media="screen"/>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#card-info").click(function(e){
                e.preventDefault();
            });
        });
    </script>
</head>
<body style="padding: 20px;">

    <div class="hearthlogs-title" style="text-align: center;">HEARTHLOGS.com<span> A Hearthstone Log Analyzer</span></div>

    <hr/>
    <div style="text-align: center; margin-top: 5px;">
        <span style="font-size: 25px; font-weight: bold;" th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}" th:text="${versusInfo.friendlyName}">Seekay</span>
        <img height="100" width="100" src="../static/images/warrior.png" th:src="@{'images/'+${#strings.toLowerCase(versusInfo.friendlyClass)}+'.png'}" />
        <img height="50" width="50" src="../static/images/versus.png" th:src="@{images/versus.png}" />
        <img height="100" width="100" src="../static/images/hunter.png" th:src="@{'images/'+${#strings.toLowerCase(versusInfo.opposingClass)}+'.png'}" />
        <span style="font-size: 25px; font-weight: bold;" th:class="${#strings.toLowerCase(versusInfo.opposingClass)}" th:text="${versusInfo.opposingName}">Opponent</span>
    </div>


    <h4 style="color: #1B809E; font-weight: bold;">Card Summary</h4>
    <div>
        <table id="card-info" class="table table-bordered">
            <thead>
            <tr>
                <th>Player</th>
                <th>Starting Hand</th>
                <th>Mulliganed Cards</th>
                <th>Cards In Deck</th>
            </tr>
            </thead>
            <tbody>
            <tr th:with="player=${cardInfo.friendly.columns[0]},startingCards=${cardInfo.friendly.columns[1].datas},mulliganCards=${cardInfo.friendly.columns[2].datas},deckCards=${cardInfo.friendly.columns[3].datas}">
                <td>
                    <span th:class="${#strings.toLowerCase(cardInfo.friendlyClass)}" th:text="${player.data}"></span>
                </td>
                <td>
                    <a th:if="${card.cardDetails != null}" th:each="card : ${startingCards}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                    <a th:if="${card.cardDetails == null}" th:each="card : ${startingCards}">
                        <img src="http://images.hearthlogs.com/cardback.png" />
                    </a>
                </td>
                <td>
                    <a th:if="${card.cardDetails != null}" th:each="card : ${mulliganCards}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                    <a th:if="${card.cardDetails == null}" th:each="card : ${mulliganCards}">
                        <img src="http://images.hearthlogs.com/cardback.png" />
                    </a>
                </td>
                <td>
                    <a th:if="${card.cardDetails != null}" th:each="card : ${deckCards}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                </td>
            </tr>
            <tr th:with="player=${cardInfo.opposing.columns[0]},startingCards=${cardInfo.opposing.columns[1].datas},mulliganCards=${cardInfo.opposing.columns[2].datas},deckCards=${cardInfo.opposing.columns[3].datas}">
                <td>
                    <span th:class="${#strings.toLowerCase(cardInfo.opposingClass)}" th:text="${player.data}"></span>
                </td>
                <td>
                    <a th:if="${card.cardDetails != null}" th:each="card : ${startingCards}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                    <a th:if="${card.cardDetails == null}" th:each="card : ${startingCards}">
                        <img src="http://images.hearthlogs.com/cardback.png" />
                    </a>
                </td>
                <td>
                    <a th:if="${card.cardDetails != null}" th:each="card : ${mulliganCards}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                    <a th:if="${card.cardDetails == null}" th:each="card : ${mulliganCards}">
                        <img src="http://images.hearthlogs.com/cardback.png" />
                    </a>
                </td>
                <td>
                    <a th:if="${card.cardDetails != null}" th:each="card : ${deckCards}" th:href="@{'http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}}" th:attr="data-tooltip-href='http://www.hearthpwn.com'+${card.cardDetails.cardLink.href}">
                        <img src="" th:src="@{'http://images.hearthlogs.com/'+${card.cardDetails.cardLink.cardId}+'.png'}" />
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4 style="color: #1B809E; font-weight: bold;">Health Summary</h4>
    <div>
        <table id="health-info" class="table table-bordered">
            <thead>
            <tr>
                <th th:text="${column.data}" th:each="column,iterStat : ${healthArmorInfo.header.columns}" th:class="${iterStat.first}? '' : 'turn'"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:each="column,iterStat : ${healthArmorInfo.friendly.columns}">
                    <div th:class="${iterStat.first}? '' : 'health-armor'" class="health-armor">
                        <div th:if="${column.data2 != null}" th:class="${iterStat.first}? '' : 'armor-bg'" class="armor-bg">
                            <div th:text="${column.data2}"></div>
                        </div>
                        <div th:class="${iterStat.first}? ${#strings.toLowerCase(healthArmorInfo.friendlyClass)} : 'health-bg'" class="health-bg">
                            <div th:text="${column.data}"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td th:each="column,iterStat : ${healthArmorInfo.opposing.columns}">
                    <div th:class="${iterStat.first}? '' : 'health-armor'" class="health-armor">
                        <div th:if="${column.data2 != null}" th:class="${iterStat.first}? '' : 'armor-bg'" class="armor-bg">
                            <div th:text="${column.data2}"></div>
                        </div>
                        <div th:class="${iterStat.first}? ${#strings.toLowerCase(healthArmorInfo.opposingClass)} : 'health-bg'" class="health-bg">
                            <div th:text="${column.data}"></div>
                        </div>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>


    <h4 style="color: #1B809E; font-weight: bold;">Mana Summary</h4>

    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Player</th>
                <th>Used</th>
                <th>Gained</th>
                <th>Lost</th>
                <th>Saved</th>
                <th>Efficiency</th>
            </tr>
            </thead>
            <tbody>
            <tr class="warrior">
                <td>Seekay</td>
                <td>40</td>
                <td>55</td>
                <td>2</td>
                <td>5</td>
                <td>72.72%</td>
            </tr>
            <tr class="hunter">
                <td>Opponent</td>
                <td>48</td>
                <td>60</td>
                <td>0</td>
                <td>2</td>
                <td>80.00%</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4 style="color: #1B809E; font-weight: bold;">Card Advantage</h4>

    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Player</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
            </tr>
            </thead>
            <tbody>
            <tr class="warrior">
                <td>Seekay</td>
                <td>1</td>
                <td>2</td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>4</td>
                <td>4</td>
            </tr>
            <tr class="hunter">
                <td>Opponent</td>
                <td></td>
                <td></td>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4 style="color: #1B809E; font-weight: bold;">Board Control</h4>

    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Player</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr class="warrior">
                <td>Seekay</td>
                <td class="hunter-bg"></td>
                <td class="hunter-bg"></td>
                <td class="warrior-bg"></td>
                <td class="hunter-bg"></td>
                <td class="hunter-bg"></td>
                <td class="hunter-bg"></td>
                <td class="warrior-bg"></td>
                <td class="warrior-bg"></td>
                <td class="warrior-bg"></td>
                <td class="warrior-bg"></td>
                <td class="warrior-bg"></td>
                <td class="warrior-bg"></td>
                <td>62.50%</td>
            </tr>
            <tr class="hunter">
                <td>Opponent</td>
                <td class="hunter-bg"></td>
                <td class="hunter-bg"></td>
                <td class="warrior-bg"></td>
                <td class="hunter-bg"></td>
                <td class="hunter-bg"></td>
                <td class="warrior-bg"></td>
                <td class="warrior-bg"></td>
                <td class="warrior-bg"></td>
                <td class="warrior-bg"></td>
                <td class="warrior-bg"></td>
                <td class="warrior-bg"></td>
                <td class="warrior-bg"></td>
                <td>37.50%</td>
            </tr>
            </tbody>
        </table>
    </div>


    <h4 style="color: #1B809E; font-weight: bold;">Turn By Turn Summary</h4>

    <div>
        <h5>Turn 1 - Seekay</h5>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Seekay Hand: <a href="http://www.hearthpwn.com/cards/14711-golemagg" data-tooltip-href="http://www.hearthpwn.com/cards/14711-golemagg"><img src="../static/images/cardback.png"/></a> <a href="http://www.hearthpwn.com/cards/14711-golemagg" data-tooltip-href="http://www.hearthpwn.com/cards/14711-golemagg"><img src="../static/images/cardback.png"/></a> <a href="http://www.hearthpwn.com/cards/14711-golemagg" data-tooltip-href="http://www.hearthpwn.com/cards/14711-golemagg"><img src="../static/images/cardback.png"/></a> <a href="http://www.hearthpwn.com/cards/14711-golemagg" data-tooltip-href="http://www.hearthpwn.com/cards/14711-golemagg"><img src="../static/images/cardback.png"/></a></th>
                <th colspan="2">Seekay</th>
                <th colspan="2">Opponent</th>
            </tr>
            <tr>
                <th>Opponent Hand: <a href="http://www.hearthpwn.com/cards/14711-golemagg" data-tooltip-href="http://www.hearthpwn.com/cards/14711-golemagg"><img src="../static/images/cardback.png"/></a> <a href="http://www.hearthpwn.com/cards/14711-golemagg" data-tooltip-href="http://www.hearthpwn.com/cards/14711-golemagg"><img src="../static/images/cardback.png"/></a> <a href="http://www.hearthpwn.com/cards/14711-golemagg" data-tooltip-href="http://www.hearthpwn.com/cards/14711-golemagg"><img src="../static/images/cardback.png"/></a> <a href="http://www.hearthpwn.com/cards/14711-golemagg" data-tooltip-href="http://www.hearthpwn.com/cards/14711-golemagg"><img src="../static/images/cardback.png"/></a></th>
                <th>Health</th>
                <th>Mana</th>
                <th>Health</th>
                <th>Mana</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Gargantua has drawn Leper Gnome, id=61</td>
                <td class="warrior">30</td>
                <td class="warrior">30</td>
                <td class="hunter">--</td>
                <td class="hunter">30</td>
            </tr>
            </tbody>
        </table>
    </div>


</body>
</html>
