<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthLogs.com - Upload a Hearhtstone Log File</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container">

    <span th:text="${uploadedMatches}">1</span>

    <div th:each="match : ${matches}">

        <span th:text="${match.}"></span>

        <div th:each="turn : ${turns}">
            <h2></h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Course Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="action : ${actions}">
                    <td th:text="${action.courseName}">Sample Course</td>
                    <td th:text="${action.courseDescription}">Description of Sample Course</td>
                    <td th:text=""></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
