<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthLogs.com - Sign-up Thank You!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script type="text/javascript" src="http://static-hearth.cursecdn.com/current/js/syndication/tt.js"></script>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container">

    <div th:replace="/fragments/beta-fragment::beta"></div>

    <div class="hearthlogs-title">HEARTHLOGS.com<span> A Hearthstone Log Analyzer</span></div>

    <hr/>

    <h1>Thank you for signing up! If you are chosen we will send you an email indicating that your Battle.net account is authorized to use this website.</h1>

</div>

</body>
</html>