<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthLogs.com - Where do I find my log files?</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/where.css" th:href="@{/css/where.css}" rel="stylesheet" media="screen"/>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#android-instruction1').popover({content: function() { return $('#android-instruction1_popover_content_wrapper').html(); }, html: true, trigger: 'hover'});
            $('#android-instruction2').popover({content: function() { return $('#android-instruction2_popover_content_wrapper').html(); }, html: true, trigger: 'hover'});
            $('#android-instruction3').popover({content: function() { return $('#android-instruction3_popover_content_wrapper').html(); }, html: true, trigger: 'hover'});
            $('#android-instruction4').popover({content: function() { return $('#android-instruction4_popover_content_wrapper').html(); }, html: true, trigger: 'hover'});
            $('#android-instruction5').popover({content: function() { return $('#android-instruction5_popover_content_wrapper').html(); }, html: true, trigger: 'hover'});
            $('#android-instruction6').popover({content: function() { return $('#android-instruction6_popover_content_wrapper').html(); }, html: true, trigger: 'hover'});
            $('#android-instruction7').popover({content: function() { return $('#android-instruction7_popover_content_wrapper').html(); }, html: true, trigger: 'hover'});
            $('#android-instruction8').popover({content: function() { return $('#android-instruction8_popover_content_wrapper').html(); }, html: true, trigger: 'hover'});
        });
    </script>
</head>
<body>

<div class="container">

    <div th:replace="/fragments/login-fragment::userLoggedIn"></div>
    <div th:replace="/fragments/login-fragment::userNotLoggedIn"></div>

    <div class="hearthlogs-title">HEARTHLOGS.com<span> A Hearthstone Log Analyzer</span></div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">WHERE DO I FIND MY LOG FILES?</h3>
        </div>
        <div class="panel-body hearthlogs-where">
            <p>Before you can actually get any log files you need to enable logging. See below for the Windows/Mac/Android instructions of where specifically to find the <code>log.config</code> location.</p>
            <p>You will need to create the <code>log.config</code> file with the contents below. Please note that you will need to exit Hearthstone and restart it for the logging to happen.</p>
            <pre>
[Power]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false
[Asset]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false
[Bob]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false
            </pre>
            <p>There are 2 kinds of log files. One that does not contain timestamped log entries and one that does.
                The first log file <code>output_log.txt</code> (Windows) / <code>Player.log</code> (Mac) does not contain timestamps.
                On the other hand there is the <code>hearthstone_2015_11_24_12_53_07.log</code> file that contains timestamps.  This will give you more detailed information about your
                game such as how long that game took and the duration of each turn.
            </p>
            <div class="bs-callout bs-callout-warning">
                <h4>Warning</h4>
                <p>If you choose to upload log files that have timestamps be warned that Hearthstone keeps only 5 log files at a time in that directory and the file size is limited to 5MB.
                    Unfortunately you can probably only get 2-3 games recorded in there before Hearthstone stops logging and just truncates the file.  If you exit Hearthstone it will start
                    a new log file, keeping a maximum of 5 around. If you want this kind of log file you will need to exit hearthstone every couple games and copy the file.</p>
                <p>The other log file does not seem to have a file size limitation that I know of.  This is the log file most of the other deck/log trackers use.</p>
            </div>

            <div class="bs-callout bs-callout-where">
                <h4><img th:src="@{images/windows.png}" src="../static/images/windows.png"/> Windows Log File Locations:</h4>
                <p>No timestamps / No file size limit:  <code>C:\Program Files (x86)\Hearthstone\Hearthstone_Data\output_log.txt</code></p>
                <p>Timestamps / 5MB file size limit: <code>C:\Users\yourusername\AppData\Local\Blizzard\Hearthstone\Logs\hearthstone_2015_11_24_12_53_07.log</code></p>
                <h4><img th:src="@{images/windows.png}" src="../static/images/windows.png"/> Windows log.config Location: </h4>
                <p><code>C:\Users\yourusername\AppData\Local\Blizzard\Hearthstone\</code></p>
            </div>

            <div class="bs-callout bs-callout-where">
                <h4><img th:src="@{images/mac.png}" src="../static/images/mac.png"/> Mac Log File Locations:</h4>
                <p>No timestamps / No file size limit:  <code>~/Library/Logs/Unity/Player.log</code></p>
                <p>Timestamps / 5MB file size limit: <code>~/Library/Preferences/Blizzard/Hearthstone/Logs/hearthstone_2015_11_24_12_53_07.log</code></p>
                <h4><img th:src="@{images/mac.png}" src="../static/images/mac.png"/> Mac log.config Location: </h4>
                <p><code>~/Library/Preferences/Blizzard/Hearthstone/</code></p>
            </div>

            <div class="bs-callout bs-callout-where">
                <h4><img th:src="@{images/android.png}" src="../static/images/android.png"/> Android Instructions</h4>
                <p><code>log.config</code> location: <code>Android/data/com.blizzard.wtcg.hearthstone/files</code></p>

                <p>Get an App like File Manager (File Transfer) by Cheetah Mobile and follow these instructions:</p>
                <ul>
                    <li>Open the app, go into "Device" <button class="btn btn-xs btn-primary" id="android-instruction1">step 1</button></li>
                    <li>Navigate to Android/data/com.blizzard.wtcg.hearthstone/files and create the log.config file by click the top right corner and choosing "Create" <button class="btn btn-xs btn-primary" id="android-instruction2">step 2</button></li>
                    <li>With the log.config created <button class="btn btn-xs btn-primary" id="android-instruction3">step 3</button> edit it <button class="btn btn-xs btn-primary" id="android-instruction4">step 4</button> with the Text Editor <button class="btn btn-xs btn-primary" id="android-instruction5">step 5</button> and enter the lines as above <button class="btn btn-xs btn-primary" id="android-instruction6">step 6</button></li>
                    <li>After you have played a game you can select the log file and click "Share" <button class="btn btn-xs btn-primary" id="android-instruction7">step 7</button> and choose a method of transferring it off your device <button class="btn btn-xs btn-primary" id="android-instruction8">step 8</button> </li>
                </ul>
                <div id="android-instruction1_popover_content_wrapper" style="display: none">
                    <img height="356" width="200" th:src="@{/images/android-instruction1.png}" src="../static/images/android-instruction1.png" />
                </div>
                <div id="android-instruction2_popover_content_wrapper" style="display: none">
                    <img th:src="@{/images/android-instruction2.png}" src="../static/images/android-instruction2.png" />
                </div>
                <div id="android-instruction3_popover_content_wrapper" style="display: none">
                    <img th:src="@{/images/android-instruction3.png}" src="../static/images/android-instruction3.png" />
                </div>
                <div id="android-instruction4_popover_content_wrapper" style="display: none">
                    <img th:src="@{/images/android-instruction4.png}" src="../static/images/android-instruction4.png" />
                </div>
                <div id="android-instruction5_popover_content_wrapper" style="display: none">
                    <img th:src="@{/images/android-instruction5.png}" src="../static/images/android-instruction5.png" />
                </div>
                <div id="android-instruction6_popover_content_wrapper" style="display: none">
                    <img th:src="@{/images/android-instruction6.png}" src="../static/images/android-instruction6.png" />
                </div>
                <div id="android-instruction7_popover_content_wrapper" style="display: none">
                    <img th:src="@{/images/android-instruction7.png}" src="../static/images/android-instruction7.png" />
                </div>
                <div id="android-instruction8_popover_content_wrapper" style="display: none">
                    <img th:src="@{/images/android-instruction8.png}" src="../static/images/android-instruction8.png" />
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>