.container { background-image: url("../images/welcome.png"); width: 1024px; height: 638px; margin: auto; }

.content { margin: 20px 40px; }

.hearthlogs-title { margin-top: 80px; text-align: center; }
.hearthlogs-title span { color: #fff; }