@font-face {
    font-family: siteFont;
    src: url(bliz-quadrata.woff);
}

body {
    font-family: siteFont;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0px;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #EEE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
}

.bs-callout-good {
    border-left-color: #1B809E;
}

.bs-callout-good h4 {
    color: #1B809E;
}


.bs-callout-info {
    border-left-color: #9F6000;
}

.bs-callout-info h4 {
    color: #9F6000;
}

.hearthlogs-title {
    font-size: 80px;
}

.hearthlogs-title span {
    font-size: 17px;
    color: #a9a9a9;
}