<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthGames.com - Error Page</title>
    <meta name="description" content="HearthGames.com encountered some kind of error. Sorry."/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" href="http://images.hearthgames.com/misc/favicon.ico" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="container">

    <div th:replace="/fragments/beta-fragment::beta"></div>

    <div class="title-container">
        <div class="hearthgames-title"><a href="home.html" th:href="@{/}">HEARTHGAMES.com</a></div>
    </div>

    <h1>Oops...some kind of error happened...how embarassing!  I've logged the error and will try and get it fixed ASAP.</h1>

    <div th:replace="/fragments/footer-fragment::footer"></div>

</div>

</body>
</html>