<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthGames.com - Frequently Asked Questions</title>
    <meta name="description" content="HearthGames.com provides answers to some frequently asked questions."/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" href="http://images.hearthgames.com/misc/favicon.ico" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/bootstrap.fileinput/4.2.7/css/fileinput.min.css" th:href="@{/webjars/bootstrap-fileinput/4.2.7/css/fileinput.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container">

    <div th:replace="/fragments/beta-fragment::beta"></div>

    <div th:replace="/fragments/login-fragment::userLoggedIn"></div>
    <div th:replace="/fragments/login-fragment::userNotLoggedIn"></div>

    <div class="title-container">
        <div class="hearthgames-title"><a href="home.html" th:href="@{/}">HEARTHGAMES.com</a></div>
    </div>

    <div class="content">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Frequently Asked Questions</h3>
            </div>
            <div class="panel-body">

                <div class="faq-question">
                    <span>Q: Why would I want to Login with Battle.net?</span>
                </div>
                <div class="faq-answer">
                    <span>A: HearthGames.com leverages Battle.net APIs to enchance your experience on this website.  We use your Battletag to associate games you upload, which allows us to personalize your view of games.
                    <br/>See <a href="https://dev.battle.net/docs/read/log_in_with_bnet">https://dev.battle.net/docs/read/log_in_with_bnet</a> for more details.</span>
                </div>
                <div class="faq-question">
                    <span>Q: I want to see Arena, Tavern Brawl and Adventure mode games?</span>
                </div>
                <div class="faq-answer">
                    <span>A: This is coming "soon". We are focused on Casual and Ranked mode games at the moment. </span>
                </div>
                <div class="faq-question">
                    <span>Q: When I try to login it takes me to the US Battle.net login but I'm not in that region. Will other regions be supported?</span>
                </div>
                <div class="faq-answer">
                    <span>A: We plan to support other regions depending on interest. It takes resources to develop a multi-lingual website. </span>
                </div>

                <div class="submit-question">
                    <span>Want to submit a question?  Email us at <a href="mailto:hearthgamesdotcom@gmail.com?Subject=Submit%20a%20Question" target="_blank">hearthgamesdotcom@gmail.com</a></span>
                </div>

            </div>
        </div>

        <div th:replace="/fragments/footer-fragment::faqfooter"></div>
    </div>

</div>

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</body>
</html>