<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>HearthGames.com - Games</title>
    <meta name="description" content="Check out some of the Top Rated Games. Search for games that match criteria such as Deck Archetype, High Win Rate and many more. Rate other peoples games and leave comments."/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" href="http://images.hearthgames.com/misc/favicon.ico" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/game.css" th:href="@{/css/game.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container">

    <div th:replace="/fragments/beta-fragment::beta"></div>

    <div th:replace="/fragments/login-fragment::userLoggedInOnGames"></div>

    <div class="title-container">
        <div class="hearthgames-title"><a href="home.html" th:href="@{/}">HEARTHGAMES.com</a></div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Friendly</th>
            <th>Opponent</th>
            <th>Winner</th>
            <th># Turns</th>
            <th th:if="${gamesType.ranked || gamesType.account}">Rank</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game: ${gamesPlayed}">
            <td><span th:class="${#strings.toLowerCase(game.friendlyClass)}" th:text="${game.friendlyName}">Seekay</span></td>
            <td><span th:class="${#strings.toLowerCase(game.opposingClass)}" th:text="${game.opposingName}">Some Opponent</span></td>
            <td><span th:class="${#strings.toLowerCase(game.winnerClass)}" th:text="${game.winner}">Seekay</span></td>
            <td><span th:text="${game.turns}">23</span></td>
            <th th:if="${gamesType.ranked || gamesType.account}" th:text="${game.rank}"></th>
            <td sec:authorize="hasRole('ROLE_ANONYMOUS')">
                <a th:href="@{'/game/'+${game.id}}" href="game.html">View</a>
            </td>
            <td sec:authorize="hasRole('ROLE_USER')">
                <a th:if="${gamesType.ranked}"  th:href="@{'/game/'+${game.id}}" href="game.html">View</a>
                <a th:if="${gamesType.account}"  th:href="@{'/mygame/'+${game.id}}" href="game.html">View</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:replace="/fragments/footer-fragment::footer"></div>

</div>

</body>
</html>