<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:inline="text">HearthGames.com - Game [[${gameId}]]</title>
    <meta name="description" th:content="${versusInfo.friendlyName}+' ('+${versusInfo.friendlyClass}+') versus '+${versusInfo.opposingName}+' ('+${versusInfo.opposingClass}+')'" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" href="http://images.hearthgames.com/misc/favicon.ico" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/jquery.tooltipster/3.3.0/css/tooltipster.css" rel="stylesheet" type="text/css"  />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/game.css" th:href="@{/css/game.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container-fluid">

    <div th:replace="/fragments/beta-fragment::beta"></div>

    <div th:replace="/fragments/login-fragment::userLoggedIn"></div>
    <div th:replace="/fragments/login-fragment::userNotLoggedIn"></div>

    <div class="row">

        <div class="col-xs-1 col-md-1 tabs-left">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#replay">Replay</a></li>
                <li><a data-toggle="tab" href="#overview">Overview</a></li>
                <li><a data-toggle="tab" href="#stats">Stats</a></li>
            </ul>
        </div>

        <div class="col-xs-11 col-md-11 tab-content">
            <div id="replay" class="tab-pane active">
                <div id="game-board-container">
                    <div id="game-board-content"></div>
                </div>
                <div id="game-board-actions-container">
                    <div id="game-board-actions"></div>
                </div>
            </div>
            <div id="overview" class="tab-pane">
                <div class="versus-info">
                    <span th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}" th:text="${versusInfo.friendlyName}">Seekay</span>
                    <span class="versus"> VS </span>
                    <span th:class="${#strings.toLowerCase(versusInfo.opposingClass)}" th:text="${versusInfo.opposingName}">Opponent</span>
                </div>
                <div class="versus-info">
                    <span th:if="${versusInfo.friendlyName == versusInfo.winner}"> <span th:class="${#strings.toLowerCase(versusInfo.friendlyClass)}" th:text="${versusInfo.friendlyName}">Seekay</span> has Won! </span>
                    <span th:if="${versusInfo.opposingName == versusInfo.winner}"> <span th:class="${#strings.toLowerCase(versusInfo.opposingClass)}" th:text="${versusInfo.opposingName}">Opponent</span> has Won :( </span>
                </div>
                <div class="versus-info">
                    <span th:if="${versusInfo.quitter != null}"> <span th:class="${#strings.toLowerCase(versusInfo.quitterClass)}" th:text="${versusInfo.quitter}">Seekay</span> has Quit! </span>
                </div>
                <div class="versus-info-duration">
                    <span>Duration: <span th:text="${versusInfo.duration}"></span></span>
                </div>
                <div th:include="/fragments/table-fragment::tablefrag (${cardInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'card-info','','',5)"></div>
            </div>
            <div id="stats" class="tab-pane">
                <h3>Health/Armor Summary</h3>
                <div th:include="/fragments/table-fragment::tablefrag (${healthArmorInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'health-info','turn','health-armor',3)"></div>
                <h3>Mana Summary</h3>
                <div th:include="/fragments/table-fragment::tablefrag (${manaInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'mana-info','','',2)"></div>
                <h3>Trades</h3>
                <div th:include="/fragments/table-fragment::tablefrag (${tradeInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'trade-info','','',6)"></div>
                <h3>Card Advantage</h3>
                <div th:include="/fragments/table-fragment::tablefrag (${cardAdvantageInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'card-advantage-info','turn','cadvantage-info',1)"></div>
                <h3>Board Control</h3>
                <div th:include="/fragments/table-fragment::tablefrag (${boardControlInfos},${versusInfo.friendlyClass},${versusInfo.opposingClass},'board-control-info','turn','-bg bcontrol-info',4)"></div>
            </div>
        </div>
    </div>


    <div class="footer-container">
        <div th:replace="/fragments/footer-fragment::footer"></div>
    </div>
</div>

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script src="http://cdn.jsdelivr.net/jquery.tooltipster/3.3.0/js/jquery.tooltipster.min.js" th:src="@{/webjars/tooltipster/3.3.0/js/jquery.tooltipster.min.js}"></script>
<script src="http://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
<script src="http://cdn.jsdelivr.net/handlebarsjs/4.0.2/handlebars.min.js" th:src="@{/webjars/handlebars/4.0.2/handlebars.min.js}"></script>

<script id="game-board-template" type="text/x-handlebars-template" th:inline="javascript">

    <div id="game-board">

        <div id="turn-status">
            {{#with turnData}}
            {{#if turn}}
            <span>Turn {{turn}}, Board {{board}}</span>
            {{else}}
            <span>Mulligan, Board {{board}}</span>
            {{/if}}
            {{/with}}
            <div class="next-prev-buttons">
                <div class="prev prev-turn"></div><div class="text">Turn</div><div class="next next-turn"></div>
            </div>
            <div class="next-prev-buttons">
                <div class="prev prev-board"></div><div class="text">Board</div><div class="next next-board"></div>
            </div>
            <div id="autoplay-content">
                <span class="autoplay">AutoPlay : </span>
                <span class="autoplay-toggle">{{#if autoplay}}<span class="on">ON</span>{{else}}<span class="off">OFF</span>{{/if}}</span>
            </div>
            <div id="autoplay-duration-content">
                <span class="minus-duration">-</span> <span class="autoplay-duration">{{duration}}</span> <span class="plus-duration">+</span>
            </div>
        </div>

        <div id="whose-turn">
            {{#with turnData}}
            <span class="{{status}}">{{who}}</span>
            {{/with}}
        </div>

        {{#with friendlyHero}}
        <div id="friendly-hero" class="{{id}}_h">
            <div class="hero-health-bg">
                <div class="{{#if damaged}}damaged{{/if}} hero-health-amount">{{health}}</div>
            </div>
            {{#if armor}}
            <div class="hero-armor-bg">
                <div class="hero-armor-amount">{{armor}}</div>
            </div>
            {{/if}}
            {{#if attack}}
            <div class="hero-attack-bg">
                <div class="hero-attack-amount">{{attack}}</div>
            </div>
            {{/if}}
            {{#each cardsInSecret}}
            <div class="secret secret{{@index}} {{cardClass}}-secret tt tt-{{id}}"></div>
            {{/each}}
        </div>
        <div id="friendly-hero-power">
            <div class="heropower">
                {{#if powerUsed}}
                <div class="tt tt-{{powerId}} used"></div>
                {{else}}
                <div class="tt tt-{{powerId}} {{powerId}}"></div>
                {{/if}}
            </div>
        </div>
        <div id="friendly-weapon">
            <div class="weapon">
                {{#if weapon}}
                <div class="tt tt-{{weapon.id}} {{weapon.id}}">
                    <div class="attack">
                        <div class="amount">{{weapon.attack}}</div>
                    </div>
                    <div class="durability">
                        <div class="amount">{{weapon.durability}}</div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        <div id="friendly-hand">
            {{#each cardsInHand}}
            <div class="thumb">
                <div class="tt tt-{{id}} {{id}}"></div>
            </div>
            {{/each}}
        </div>
        <div id="friendly-play">
            {{#each minionsInPlay}}
            <div class="tt minion tt-{{id}}">
                <div class="card {{id}}"></div>
                <div class="attack">
                    <div class="amount {{#if attackBuffed}} buffed {{/if}}">{{attack}}</div>
                </div>
                <div class="health">
                    <div class="amount {{#if damaged}} damaged {{else if healthBuffed}} buffed {{/if}}">{{health}}</div>
                </div>
                {{#if frozen}}
                <div class="frozen"></div>
                {{/if}}
                {{#if shielded}}
                <div class="shielded"></div>
                {{/if}}
                {{#if legendary}}
                <div class="legendary"></div>
                {{/if}}
                {{#if taunting}}
                <div class="taunting"></div>
                {{/if}}
                {{#if exhausted}}
                <div class="exhausted"></div>
                {{/if}}
                {{#if icon}}
                <div class="{{icon}}"></div>
                {{/if}}
            </div>
            {{/each}}
        </div>
        <div id="friendly-mana">
            <div class="amount">{{mana}} / {{manaTotal}}</div>
        </div>
        <div id="friendly-graveyard"></div>
        <div id="friendly-deck"></div>
        {{/with}}


        {{#with opposingHero}}
        <div id="opposing-hero" class="{{id}}_h">
            <div class="hero-health-bg">
                <div class="{{#if damaged}}damaged{{/if}} hero-health-amount">{{health}}</div>
            </div>
            {{#if armor}}
            <div class="hero-armor-bg">
                <div class="hero-armor-amount">{{armor}}</div>
            </div>
            {{/if}}
            {{#if attack}}
            <div class="hero-attack-bg">
                <div class="hero-attack-amount">{{attack}}</div>
            </div>
            {{/if}}
            {{#each cardsInSecret}}
            <div class="secret secret{{@index}} {{cardClass}}-secret tt tt-{{id}}"></div>
            {{/each}}
        </div>
        <div id="opposing-hero-power">
            <div class="heropower">
                {{#if powerUsed}}
                <div class="tt tt-{{powerId}} used"></div>
                {{else}}
                <div class="tt tt-{{powerId}} {{powerId}}"></div>
                {{/if}}
            </div>
        </div>
        <div id="opposing-weapon">
            <div class="weapon">
                {{#if weapon}}
                <div class="tt tt-{{weapon.id}} {{weapon.id}}">
                    <div class="attack">
                        <div class="amount">{{weapon.attack}}</div>
                    </div>
                    <div class="durability">
                        <div class="amount">{{weapon.durability}}</div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
        <div id="opposing-hand">
            {{#each cardsInHand}}
            <div class="thumb">
                <div class="tt tt-{{id}} {{id}}"></div>
            </div>
            {{/each}}
        </div>
        <div id="opposing-play">
            {{#each minionsInPlay}}
            <div class="tt minion tt-{{id}}">
                <div class="card {{id}}"></div>
                <div class="attack">
                    <div class="amount {{#if attackBuffed}} buffed {{/if}}">{{attack}}</div>
                </div>
                <div class="health">
                    <div class="amount {{#if damaged}} damaged {{else if healthBuffed}} buffed {{/if}}">{{health}}</div>
                </div>
                {{#if frozen}}
                <div class="frozen"></div>
                {{/if}}
                {{#if shielded}}
                <div class="shielded"></div>
                {{/if}}
                {{#if legendary}}
                <div class="legendary"></div>
                {{/if}}
                {{#if taunting}}
                <div class="taunting"></div>
                {{/if}}
                {{#if exhausted}}
                <div class="exhausted"></div>
                {{/if}}
                {{#if icon}}
                <div class="{{icon}}"></div>
                {{/if}}
            </div>
            {{/each}}
        </div>
        <div id="opposing-mana">
            <div class="amount">{{mana}} / {{manaTotal}}</div>
        </div>
        <div id="opposing-graveyard"></div>
        <div id="opposing-deck"></div>
        {{/with}}
    </div>
</script>

<script id="armor-change-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{player.playerClass}}">{{player.name}}</span>
        <span class="{{card.rarity}} tt tt-{{card.id}}">{{card.name}}</span>
        <span> armor is now : </span>
        <div class="armor-bg"><div>{{armor}}</div></div>
    </div>
</script>

<script id="attack-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{attackerController.playerClass}}">{{attackerController.name}}</span>
        <span class="{{attacker.rarity}} tt tt-{{attacker.id}}">{{attacker.name}}</span>
        <span> has attacked </span>
        <span class="{{defenderController.playerClass}}">{{defenderController.name}}</span>
        <span class="{{defender.rarity}} tt tt-{{defender.id}}">{{defender.name}}</span>
    </div>
</script>

<script id="attack-change-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{cardController.playerClass}}">{{cardController.name}}</span>
        <span class="{{card.rarity}} tt tt-{{card.id}}">{{card.name}}</span>
        <span> attack is now : </span>
        <span>{{attack}}</span>
    </div>
</script>

<script id="card-creation-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{creatorController.playerClass}}">{{creatorController.name}}</span>
        <span class="{{creator.rarity}} tt tt-{{creator.id}}">{{creator.name}}</span>
        <span> has created </span>
        <span class="{{created.rarity}} tt tt-{{created.id}}">{{created.name}}</span>
        <span> (</span>
        <span class="{{beneficiary.playerClass}}">{{beneficiary.name}}</span>
        <span> has benefited)</span>
    </div>
</script>

<script id="card-discarded-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{causeController.playerClass}}">{{causeController.name}}</span>
        <span class="{{cause.rarity}} tt tt-{{cause.id}}">{{cause.name}}</span>
        <span> has caused </span>
        <span class="{{player.playerClass}}">{{player.name}}</span>
        <span> to discard </span>
        <span class="{{card.rarity}} tt tt-{{card.id}}">{{card.name}}</span>
    </div>
</script>

<script id="card-drawn-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{drawer.playerClass}}">{{drawer.name}}</span> <span> has drawn </span> <span class="{{card.rarity}} tt tt-{{card.id}}">{{card.name}}</span>
    </div>
</script>

<script id="damage-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        {{#if weapon}}
            <span class="{{damagedController.playerClass}}">{{damagedController.name}}</span>
            <span> weapon has lost </span>
            <span class="{{damaged.rarity}} tt tt-{{damaged.id}}">{{damaged.name}}</span>
        <span> durability</span>
        {{else}}
            <span class="{{damagerController.playerClass}}">{{damagerController.name}}</span>
            <span class="{{damager.rarity}} tt tt-{{damager.id}}">{{damager.name}}</span>
            <span> has done </span>
            <span>{{amount}}</span>
            <span> damage to </span>
            <span class="{{damagedController.playerClass}}">{{damagedController.name}}</span>
            <span class="{{damaged.rarity}} tt tt-{{damaged.id}}">{{damaged.name}}</span>
        {{/if}}
    </div>
</script>

<script id="frozen-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{cardController.playerClass}}">{{cardController.name}}</span>
        <span class="{{card.rarity}} tt tt-{{card.id}}">{{card.name}}</span>
        <span> has been frozen</span>
    </div>
</script>

<script id="health-change-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{cardController.playerClass}}">{{cardController.name}}</span>
        <span class="{{card.rarity}} tt tt-{{card.id}}">{{card.name}}</span>
        <span> health is now : </span>
        <span>{{health}}</span>
    </div>
</script>

<script id="hero-health-change-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{cardController.playerClass}}">{{cardController.name}}</span>
        <span class="{{card.rarity}} tt tt-{{card.id}}">{{card.name}}</span>
        <span> hero health is now : </span>
        <div class="health-bg" style="display: inline-block;"><div>{{health}}</div></div>
    </div>
</script>

<script id="hero-power-used-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{cardController.playerClass}}">{{cardController.name}}</span>
        <span> has activated their hero power : </span>
        <span class="{{card.rarity}} tt tt-{{card.id}}">{{card.name}}</span>
    </div>
</script>

<script id="joust-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{friendly.playerClass}}">{{friendly.name}}</span>
        <span class="{{friendlyJouster.rarity}} tt tt-{{friendlyJouster.id}}">{{friendlyJouster.name}}</span>
        <span> is jousting </span>
        <span class="{{opposing.playerClass}}">{{opposing.name}}</span>
        <span class="{{opposingJouster.rarity}} tt tt-{{friendlyJouster.id}}">{{opposingJouster.name}}</span>
        <span class="{{friendly.playerClass}}"> {{friendly.name}}</span>
        <span class="{{friendlyJouster.rarity}} tt tt-{{friendlyJouster.id}}">{{friendlyJouster.name}}</span>
        {{#if winner}}
            <span> has won the Joust!</span>
        {{else}}
            <span> has lost the Joust!</span>
        {{/if}}
    </div>
</script>

<script id="kill-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{killerController.playerClass}}">{{killerController.name}}</span>
        <span class="{{killer.rarity}} tt tt-{{killer.id}}">{{killer.name}}</span>
        <span> has {{kind}} </span>
        <span class="{{killedController.playerClass}}">{{killedController.name}}</span>
        <span class="{{killed.rarity}} tt tt-{{killed.id}}">{{killed.name}}</span>
    </div>
</script>

<script id="log-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>{{msg}}</div>
</script>

<script id="mana-gained-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{player.playerClass}}">{{player.name}}</span>
        <span> has gained {{amount}} mana</span>
    </div>
</script>

<script id="mana-used-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{player.playerClass}}">{{player.name}}</span>
        <span> has used {{amount}} mana</span>
    </div>
</script>

<script id="temp-mana-gained-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{player.playerClass}}">{{player.name}}</span>
        <span> has temporarily gained {{amount}} mana from </span>
        <span class="{{card.rarity}} tt tt-{{card.id}}">{{card.name}}</span>
    </div>
</script>

<script id="trigger-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{cardController.playerClass}}">{{cardController.name}}</span>
        <span class="{{card.rarity}} tt tt-{{card.id}}">{{card.name}}</span>
        <span> has triggered its ability </span>
    </div>
</script>

<script id="card-played-template" type="text/x-handlebars-template" th:inline="javascript">
    <div>
        <span class="{{player.playerClass}}">{{player.name}}</span>
        {{#if playType1}}<span> has played a minion from HAND : </span>{{/if}}
        {{#if playType2}}<span> has played a secret from HAND : </span>{{/if}}
        {{#if playType3}}<span> has played a minion from DECK : </span>{{/if}}
        {{#if playType4}}<span> has played a secret from HAND : </span>{{/if}}
        {{#if playType5}}<span> has played a minion from GRAVEYARD : </span>{{/if}}
        {{#if playType6}}<span> has gained a minion : </span>{{/if}}
        {{#if playType7}}<span> has cast a spell : </span>{{/if}}
        <span class="{{card.rarity}} tt tt-{{card.id}}">{{card.name}}</span>
    </div>
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function(){
        HearthGames();
    });

    var HearthGames = function() {

        var gameData = JSON.parse([[${turnInfos}]]);

        var boardTemplate = Handlebars.compile($("#game-board-template").html());

        var armorChangeTemplate = Handlebars.compile($('#armor-change-template').html());
        var attackChangeTemplate = Handlebars.compile($('#attack-change-template').html());
        var cardDrawnTemplate = Handlebars.compile($('#card-drawn-template').html());
        var cardCreationTemplate = Handlebars.compile($('#card-creation-template').html());
        var cardDiscardedTemplate = Handlebars.compile($('#card-discarded-template').html());
        var cardPlayedTemplate = Handlebars.compile($('#card-played-template').html());
        var damageTemplate = Handlebars.compile($('#damage-template').html());
        var frozenTemplate = Handlebars.compile($('#frozen-template').html());
        var healthChangeTemplate = Handlebars.compile($('#health-change-template').html());
        var heroHealthChangeTemplate = Handlebars.compile($('#hero-health-change-template').html());
        var heroPowerUsedTemplate = Handlebars.compile($('#hero-power-used-template').html());
        var joustTemplate = Handlebars.compile($('#joust-template').html());
        var killTemplate = Handlebars.compile($('#kill-template').html());
        var logTemplate = Handlebars.compile($('#log-template').html());
        var manaGainedTemplate = Handlebars.compile($('#mana-gained-template').html());
        var manaUsedTemplate = Handlebars.compile($('#mana-used-template').html());
        var tempManaGainedTemplate = Handlebars.compile($('#temp-mana-gained-template').html());
        var triggerTemplate = Handlebars.compile($('#trigger-template').html());
        var attackTemplate = Handlebars.compile($('#attack-template').html());

        var turnCount = 0;
        var boardCount = -1;

        $('body').on('mouseover mouseenter', '.tt', function(){
            $(this).tooltipster({
                content: '<div>Loading...</div>',
                contentAsHTML: true,
                position: 'top-left',
                speed: 0,
                delay: 0,
                functionBefore: function(origin, continueTooltip) {
                    var className = '';
                    var classes = $(this).attr('class').split(" ");
                    for (var i=0; i < classes.length; i++) {
                        if (classes[i].indexOf('tt-') != -1) {
                            className = classes[i].substr(3);
                            break;
                        }
                    }
                    if (className != 'cardback') {
                        continueTooltip();
                        origin.tooltipster('content', '<div class="' + className + ' ttip"></div>');
                    }

                }
            });
            $(this).tooltipster('show');
        });

        var updateBoardActions = function(actions) {

            var gba = $('#game-board-actions');
            for (var i=0; i < actions.length; i++) {
                var action = actions[i];

                if (action.type == 'log') gba.append(logTemplate(action));
                if (action.type == 'armorChange') gba.append(armorChangeTemplate(action));
                if (action.type == 'attackChange') gba.append(attackChangeTemplate(action));
                if (action.type == 'cardDrawn') gba.append(cardDrawnTemplate(action));
                if (action.type == 'cardCreation') gba.append(cardCreationTemplate(action));
                if (action.type == 'cardDiscarded') gba.append(cardDiscardedTemplate(action));
                if (action.type == 'cardPlayed') gba.append(cardPlayedTemplate(action));
                if (action.type == 'damage') gba.append(damageTemplate(action));
                if (action.type == 'endOfTurn') gba.append(logTemplate(action));
                if (action.type == 'frozen') gba.append(frozenTemplate(action));
                if (action.type == 'healthChange') gba.append(healthChangeTemplate(action));
                if (action.type == 'heroHealthChange') gba.append(heroHealthChangeTemplate(action));
                if (action.type == 'heroPowerUsed') gba.append(heroPowerUsedTemplate(action));
                if (action.type == 'joust') gba.append(joustTemplate(action));
                if (action.type == 'kill') gba.append(killTemplate(action));
                if (action.type == 'manaGained') gba.append(manaGainedTemplate(action));
                if (action.type == 'manaUsed') gba.append(manaUsedTemplate(action));
                if (action.type == 'tempManaGained') gba.append(tempManaGainedTemplate(action));
                if (action.type == 'trigger') gba.append(triggerTemplate(action));
                if (action.type == 'attack') gba.append(attackTemplate(action));
            }
            var height = gba[0].scrollHeight;
            gba.stop().animate({scrollTop: height}, 500);
        };

        var autoplay = false;
        var duration = 2000;

        var nextBoard = function() {

            boardCount++;
            if (boardCount >= gameData[turnCount].boards.length) {
                turnCount++;
                if (turnCount >= gameData.length) {
                    turnCount--;
                    boardCount--;
                    return;
                } else {
                    boardCount = 0;
                }
            }
            var board = gameData[turnCount].boards[boardCount];
            board.autoplay = autoplay;
            board.duration = (duration / 1000) + "secs";
            var html = boardTemplate(board);
            $('#game-board-content').html(html);

            updateBoardActions(board.actions);
        };

        var previousBoard = function() {
            boardCount--;
            if (boardCount < 0) {
                turnCount--;
                if (turnCount < 0) {
                    boardCount = 0;
                    turnCount = 0;
                } else {
                    boardCount = gameData[turnCount].boards.length-1;
                }
            }
            var board = gameData[turnCount].boards[boardCount];
            board.autoplay = autoplay;
            board.duration = (duration / 1000) + "secs";
            var html = boardTemplate(board);
            $('#game-board-content').html(html);

            updateBoardActions(board.actions);

        };

        var nextTurn = function() {
            turnCount++;
            if (turnCount >= gameData.length) {
                turnCount--;
                return;
            } else {
                boardCount = 0;
            }
            var board = gameData[turnCount].boards[boardCount];
            board.autoplay = autoplay;
            board.duration = (duration / 1000) + "secs";
            var html = boardTemplate(board);
            $('#game-board-content').html(html);

            updateBoardActions(board.actions);

        };

        var previousTurn = function() {
            turnCount--;
            if (turnCount < 0) {
                turnCount = 0;
            }
            boardCount = 0;
            var board = gameData[turnCount].boards[boardCount];
            board.autoplay = autoplay;
            board.duration = (duration / 1000) + "secs";
            var html = boardTemplate(board);
            $('#game-board-content').html(html);

            updateBoardActions(board.actions);
        };

        var boardContent = $('#game-board-content');

        boardContent.on('click', '.next-turn', function(){ nextTurn(); });
        boardContent.on('click', '.prev-turn', function(){ previousTurn(); });
        boardContent.on('click', '.next-board', function(){ nextBoard(); });
        boardContent.on('click', '.prev-board', function(){ previousBoard(); });

        var myInterval;
        boardContent.on('click', '.on', function() {
            autoplay = false;
            $('.autoplay-toggle').html('<span class="off">OFF</span>');
            clearInterval(myInterval);
        });

        boardContent.on('click', '.off', function() {
            autoplay = true;
            $('.autoplay-toggle').html('<span class="on">ON</span>');
            myInterval = setInterval(nextBoard, duration);
        });

        boardContent.on('click', '.plus-duration', function() {
            if (autoplay) {
                clearInterval(myInterval);
            }
            duration += 1000;
            if (duration > 10000) duration = 10000;
            $('.autoplay-duration').html((duration / 1000) + "secs");
            if (autoplay) {
                myInterval = setInterval(nextBoard, duration);
            }
        });
        boardContent.on('click', '.minus-duration', function() {
            if (autoplay) {
                clearInterval(myInterval);
            }
            duration -= 1000;
            if (duration < 1000) duration = 1000;
            $('.autoplay-duration').html((duration / 1000) + "secs");
            if (autoplay) {
                myInterval = setInterval(nextBoard, duration);
            }
        });


        nextBoard();
    };

    /*]]>*/
</script>

</body>
</html>