<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthGames.com - Game Anaylsis, Game Replays, Game Statistics</title>
    <meta name="description" content="HearthGames.com provides analysis, replays and statistics of your Hearthstone games.  Upload Hearthstone log files and start diving into the details of your games now."/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" href="http://images.hearthgames.com/misc/favicon.ico" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/bootstrap.fileinput/4.2.7/css/fileinput.min.css" th:href="@{/webjars/bootstrap-fileinput/4.2.7/css/fileinput.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container">

    <div th:replace="/fragments/login-fragment::userLoggedIn"></div>
    <div th:replace="/fragments/login-fragment::userNotLoggedIn"></div>

    <div class="title-container">
        <div class="hearthgames-title">HEARTHGAMES.com</div>
    </div>

    <div class="content">

        <div class="home-menu">
            <div class="upload-log-file"><a href="upload.html" th:href="@{/upload}">UPLOAD LOG</a></div>
            <div class="ranked-games"><a href="games.html" th:href="@{/rankedgames}">RANKED GAMES</a></div>
            <div class="casual-games"><a href="games.html" th:href="@{/casualgames}">CASUAL GAMES</a></div>
            <div class="download-uploader"><a href="download.html" th:href="@{/download}">DOWNLOAD UPLOADER</a></div>
        </div>

        <div th:replace="/fragments/footer-fragment::homeFooter"></div>

    </div>

</div>

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</body>
</html>