<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthGames.com - Upload a Hearhtstone Log File</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/bootstrap.fileinput/4.2.7/css/fileinput.min.css" th:href="@{/webjars/bootstrap-fileinput/4.2.7/css/fileinput.min.css}" rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/bootstrap.fileinput/4.2.7/js/fileinput.min.js" th:src="@{/webjars/bootstrap-fileinput/4.2.7/js/fileinput.min.js}"></script>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" media="screen"/>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#upload").fileinput();
        });
    </script>

    <script th:replace="/fragments/login-fragment::uploadNotAllowed">
    </script>
</head>
<body>

<div class="container">

    <div th:replace="/fragments/login-fragment::userLoggedIn"></div>
    <div th:replace="/fragments/login-fragment::userNotLoggedIn"></div>

    <div class="hearthgames-title">HEARTHGAMES.com</div>
    <div class="content">
        <div class="panel-title">Select a Hearthstone log file to upload</div>
        <div>
            <form id="logFileUpload" method="POST" enctype="multipart/form-data" action="game.html" th:action="@{/upload}">
                <input id="upload" name="file" type="file" class="file" data-show-preview="false" />
            </form>
        </div>
        <a href="where.html" th:href="@{/where}">Where do I find my log files?</a>
    </div>

</div>

</body>
</html>