<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthGames.com - Game Analysis, Game Replays, Game Statistics</title>
    <meta name="description" content="HearthGames.com provides analysis, replays and statistics of your Hearthstone games.  Upload Hearthstone log files and start diving into the details of your games now."/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" href="http://images.hearthgames.com/misc/favicon.ico" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="http://cdn.jsdelivr.net/bootstrap.fileinput/4.2.7/css/fileinput.min.css" th:href="@{/webjars/bootstrap-fileinput/4.2.7/css/fileinput.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div th:replace="/fragments/nav-fragment::nav"></div>

<div class="container">

    <div th:replace="/fragments/beta-fragment::beta"></div>

    <div class="title-container">
        <div class="hearthgames-title">HEARTHGAMES.com</div>
    </div>

    <div class="content">

        <div class="row game-modes">

            <div class="game-mode casual-mode">
                <a th:href="@{/games/1}" href="#"><div class="game-mode-header"></div></a>
                <div class="game-mode-content"><a th:href="@{/games/1}" href="#">CASUAL</a></div>
            </div>

            <div class="game-mode ranked-mode">
                <a th:href="@{/games/2}" href="#"><div class="game-mode-header"></div></a>
                <div class="game-mode-content"><a th:href="@{/games/2}" href="#">RANKED</a></div>
            </div>

            <div class="game-mode arena-mode">
                <a th:href="@{/games/arena}" href="#"><div class="game-mode-header"></div></a>
                <div class="game-mode-content"><a th:href="@{/games/arena}" href="#">ARENA</a></div>
            </div>

        </div>

        <div class="row game-modes">

            <div class="game-mode adventure-mode">
                <a th:href="@{/games/4}" href="#"><div class="game-mode-header"></div></a>
                <div class="game-mode-content"><a th:href="@{/games/4}" href="#">SOLO ADVENTURE</a></div>
            </div>

            <div class="game-mode tavern-brawl-mode">
                <a th:href="@{/games/5}" href="#"><div class="game-mode-header"></div></a>
                <div class="game-mode-content"><a th:href="@{/games/5}" href="#">TAVERN BRAWL</a></div>
            </div>

        </div>

        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Player</th>
                    <th>Win - Loss</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player: ${players}">
                    <td><span th:text="${player.playerName}">Seekay</span></td>
                    <td><span th:text="${player.wins}+' - '+${player.losses}">4 - 3</span></td>
                    <td><a th:href="@{'/account/'+${player.gameAccountId}+'/games'}">View Games</a></td>
                </tr>
                </tbody>
            </table>
        </div>


        <div th:replace="/fragments/footer-fragment::homeFooter"></div>
    </div>

</div>

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script src="http://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
<script src="http://cdn.jsdelivr.net/bootstrap.fileinput/4.2.7/js/fileinput.min.js" th:src="@{/webjars/bootstrap-fileinput/4.2.7/js/fileinput.min.js}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#upload").fileinput();
    });
</script>
</body>
</html>