<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HearthGames.com - Locate your Hearthstone Log files on Windows, Mac and Android</title>
    <meta name="description" content="Want to upload your Hearthstone log files but don't know where they are?  This page helps you find where the logs files are on Windows, Mac and Android."/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="shortcut icon" th:href="@{/favicon.ico}" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
    <link href="../static/css/where.css" th:href="@{/css/where.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container">

    <div th:replace="/fragments/beta-fragment::beta"></div>

    <div th:replace="/fragments/login-fragment::userLoggedIn"></div>
    <div th:replace="/fragments/login-fragment::userNotLoggedIn"></div>

    <div class="title-container">
        <div class="hearthgames-title"><a href="home.html" th:href="@{/}">HEARTHGAMES.com</a></div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">ENABLE LOGGING</h3>
        </div>
        <div class="panel-body hearthgames-where">
            <p>First thing you have to do is enable logging before you can find any log files. Download <a href="../static/log.config" th:href="@{/log.config}">log.config</a> and put it in the directory specified below: </p>
            <ul class="nav nav-tabs">
                <li th:class="${userAgent.windows ? 'active' : ''}"><a data-toggle="tab" href="#windows-config"><img src="http://images.hearthgames.com/misc/windows.png"/> Windows</a></li>
                <li th:class="${userAgent.mac ? 'active' : ''}"><a data-toggle="tab" href="#mac-config"><img src="http://images.hearthgames.com/misc/mac.png"/> Mac</a></li>
                <li th:class="${userAgent.android ? 'active' : ''}"><a data-toggle="tab" href="#android-config"><img src="http://images.hearthgames.com/misc/android.png"/> Android</a></li>
            </ul>

            <div class="tab-content">
                <div id="windows-config" class="tab-pane" th:class="${userAgent.windows ? 'active' : ''}+' tab-pane'">
                    <div class="bs-callout bs-callout-where">
                        <div><span class="file-location">C:\Users\yourusername\AppData\Local\Blizzard\Hearthstone\</span></div>
                    </div>
                </div>

                <div id="mac-config" class="tab-pane" th:class="${userAgent.mac ? 'active' : ''}+' tab-pane'">
                    <div class="bs-callout bs-callout-where">
                        <div><span class="file-location">~/Library/Preferences/Blizzard/Hearthstone/</span></div>
                    </div>
                </div>

                <div id="android-config" class="tab-pane" th:class="${userAgent.android ? 'active' : ''}+' tab-pane'">
                    <div class="bs-callout bs-callout-where tab-pane">
                        <div><span class="file-location">Android/data/com.blizzard.wtcg.hearthstone/files</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">WHERE DO I FIND MY LOG FILES?</h3>
        </div>

        <div class="panel-body hearthgames-where">
            <p></p>
            <ul class="nav nav-tabs">
                <li th:class="${userAgent.windows ? 'active' : ''}"><a data-toggle="tab" href="#windows"><img src="http://images.hearthgames.com/misc/windows.png"/> Windows</a></li>
                <li th:class="${userAgent.mac ? 'active' : ''}"><a data-toggle="tab" href="#mac"><img src="http://images.hearthgames.com/misc/mac.png"/> Mac</a></li>
                <li th:class="${userAgent.android ? 'active' : ''}"><a data-toggle="tab" href="#android"><img src="http://images.hearthgames.com/misc/android.png"/> Android</a></li>
            </ul>

            <div class="tab-content">
                <div id="windows" class="tab-pane active" th:class="${userAgent.windows ? 'active' : ''}+' tab-pane'">
                    <div class="bs-callout bs-callout-where">
                        <ul>
                            <li>Timestamps / 5MB file size limit: <span class="file-location">C:\Users\yourusername\AppData\Local\Blizzard\Hearthstone\Logs\hearthstone_2015_11_24_12_53_07.log</span></li>
                            <li>No Timestamps / No file size limit:  <span class="file-location">C:\Program Files (x86)\Hearthstone\Hearthstone_Data\output_log.txt</span></li>
                        </ul>
                    </div>
                </div>

                <div id="mac" class="tab-pane" th:class="${userAgent.mac ? 'active' : ''}+' tab-pane'">
                    <div class="bs-callout bs-callout-where">
                        <ul>
                            <li>Timestamps / 5MB file size limit: <span class="file-location">~/Library/Preferences/Blizzard/Hearthstone/Logs/hearthstone_2015_11_24_12_53_07.log</span></li>
                            <li>No Timestamps / No file size limit:  <span class="file-location">~/Library/Logs/Unity/Player.log</span></li>
                        </ul>
                    </div>
                </div>

                <div id="android" class="tab-pane" th:class="${userAgent.android ? 'active' : ''}+' tab-pane'">
                    <div class="bs-callout bs-callout-where tab-pane">
                        <ul>
                            <li>Timestamps / 5MB file size limit: <span class="file-location">Android/data/com.blizzard.wtcg.hearthstone/files/Logs/hearthstone_2015_11_24_12_53_07.log</span></li>
                            <li>No Timestamps : Currently not available.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="bs-callout bs-callout-warning">
                <h4>Warning</h4>
                <p>Timestamped log files are limited in size by Hearthstone to 5MB, which is equivalent to about 2 games worth of data.  After 5MB logging is truncated.
                   You will have to restart Hearthstone to create a new log file.</p>
            </div>
        </div>

    </div>

    <div th:replace="/fragments/footer-fragment::footer"></div>
</div>

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
<script src="http://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

</body>
</html>