[Power]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false
[Asset]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false
[Bob]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false
[LoadingScreen]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false
[Arena]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false
[Achievements]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false
[Rachelle]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false