<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

<div th:fragment="userNotLoggedIn" sec:authorize="hasRole('ROLE_ANONYMOUS')" class="anonymous">
    <a th:href="@{/login}"><img src="http://images.hearthgames.com/misc/bnet.png" /><span class="loginbnet">Log in with Battle.net</span></a>
    <div><a th:href="@{/upload}">Upload Log</a> </div>
    <div><a th:href="@{/games/2}">Ranked Games</a> </div>
    <div><a th:href="@{/games/1}">Casual Games</a> </div>
</div>

<div th:fragment="userLoggedIn" sec:authorize="hasRole('ROLE_USER')" class="user-logged-in">
    <span sec:authentication="principal.battletag"></span> <a th:href="@{/logout}">(Logout)</a>
    <div><a th:href="@{/dashboard}">My Dashboard</a> </div>
    <div><a th:href="@{/upload}">Upload Log</a> </div>
    <div><a th:href="@{/games/2}">Ranked Games</a> </div>
    <div><a th:href="@{/games/1}">Casual Games</a> </div>
</div>


</body>
</html>